openapi: 3.0.3
info:
  description: KING OF TIME WebAPI specification https://developer.kingtime.jp/
  title: KING OF TIME WebAPI
  version: 1.0.0
servers:
- description: Production server (uses live data)
  url: https://api.kingtime.jp/v1.0
security:
- Bearer: []
tags:
- externalDocs:
    url: https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3
  name: Token
- externalDocs:
    url: https://developer.kingtime.jp/#%E4%BC%81%E6%A5%AD%E6%83%85%E5%A0%B1
  name: Company
- externalDocs:
    url: https://developer.kingtime.jp/#%E7%AE%A1%E7%90%86%E8%80%85
  name: Administrator
- externalDocs:
    url: https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1
  name: Employee
- externalDocs:
    url: https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0
  name: Attendance
paths:
  /tokens/{token}:
    delete:
      description: 指定されたアクセストークンを利用停止する。
      externalDocs:
        url: https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-delete
      operationId: SuspendAccessToken
      parameters:
      - description: 処理対象のトークン
        explode: false
        in: path
        name: token
        required: true
        schema:
          example: 8j9f7v4893y58rvt7nyfq2893n75tr78937n83
          type: string
        style: simple
      responses:
        "204":
          description: This response has no content.
      tags:
      - Token
    post:
      description: 指定されたアクセストークンを利用停止し、新たに同じ設定でアクセストークンを発行する。
      externalDocs:
        url: https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-post
      operationId: RefreshAccessToken
      parameters:
      - description: 処理対象のトークン
        explode: false
        in: path
        name: token
        required: true
        schema:
          example: 8j9f7v4893y58rvt7nyfq2893n75tr78937n83
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshAccessToken_201_response'
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
      tags:
      - Token
  /tokens/{token}/available:
    get:
      description: 指定されたアクセストークンが有効か確認する。
      externalDocs:
        url: https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-get
      operationId: GetAccessTokenAvailability
      parameters:
      - description: 処理対象のトークン
        explode: false
        in: path
        name: token
        required: true
        schema:
          example: 8j9f7v4893y58rvt7nyfq2893n75tr78937n83
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccessTokenAvailability_200_response'
          description: ""
      tags:
      - Token
  /company:
    get:
      description: 企業情報データを取得する。
      externalDocs:
        description: 一覧
        url: https://developer.kingtime.jp/#%E4%BC%81%E6%A5%AD%E6%83%85%E5%A0%B1-%E4%BC%81%E6%A5%AD%E6%83%85%E5%A0%B1%E3%83%87%E3%83%BC%E3%82%BF-get
      operationId: GetCompany
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompany_200_response'
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Company
  /administrators:
    get:
      description: 管理者のデータを取得する。
      externalDocs:
        description: 一覧
        url: https://developer.kingtime.jp/#%E7%AE%A1%E7%90%86%E8%80%85-%E7%AE%A1%E7%90%86%E8%80%85%E3%83%87%E3%83%BC%E3%82%BF-get
      operationId: GetAdministrators
      parameters:
      - description: 指定されたプロパティをレスポンスに追加
        explode: false
        in: query
        name: additionalFields
        required: false
        schema:
          example:
          - associatedEmployees
          items:
            enum:
            - emailAddresses
            - associatedEmployees
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - code: admin
                  key: 4888a97dd7bbc6a26a18743f4697a1de4b38b6ee646a9620b286499c3df6918c
                  name: 全権管理者
                - code: "2000"
                  key: 6713cd21ca98689efec9fe27352152c4c77a34b32f5de30b6335d141ad714baf
                  name: エリアマネージャー
                  associatedEmployees:
                  - code: "1000"
                    key: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
                    lastName: 勤怠
                    firstName: 太郎
                  - code: "2000"
                    key: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe27352152c4
                    lastName: 勤怠
                    firstName: 花子
                items:
                  $ref: '#/components/schemas/GetAdministrators_200_response_inner'
                type: array
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Administrator
  /employees:
    get:
      description: 従業員データの一覧を取得する。
      externalDocs:
        description: 一覧
        url: https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%83%87%E3%83%BC%E3%82%BF-get
      operationId: GetEmployees
      parameters:
      - description: |-
          指定された年月日時点での従業員のデータを表示
          ・過去日は最大3年前まで
          ・未来日は最大1年後まで
        explode: true
        in: query
        name: date
        required: false
        schema:
          description: defaultは当日
          format: date
          type: string
        style: form
      - description: 所属コード
        explode: true
        in: query
        name: division
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      - description: 指定された年月日時点で退職済みの従業員を含む場合 True
        explode: true
        in: query
        name: includeResigner
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      - description: 指定されたプロパティをレスポンスに追加
        explode: false
        in: query
        name: additionalFields
        required: false
        schema:
          example:
          - emailAddresses
          items:
            enum:
            - lastNamePhonetics
            - firstNamePhonetics
            - hiredDate
            - birthDate
            - resignationDate
            - emailAddresses
            - allDayRegardingWorkInMinute
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - divisionCode: "1000"
                  divisionName: 本社
                  gender: male
                  typeCode: "1"
                  typeName: 正社員
                  code: "1000"
                  lastName: 勤怠
                  firstName: 太郎
                  key: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
                  emailAddresses:
                  - kintaitarou@h-t.co.jp
                  employeeGroups:
                  - code: "0001"
                    name: 人事部
                  - code: "0002"
                    name: 総務部
                - divisionCode: "1000"
                  divisionName: 本社
                  gender: female
                  typeCode: "1"
                  typeName: 正社員
                  code: "2000"
                  lastName: 勤怠
                  firstName: 花子
                  key: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe27352152c4
                  emailAddresses:
                  - kintaihanako@h-t.co.jp
                  employeeGroups:
                  - code: "0003"
                    name: 営業部
                items:
                  $ref: '#/components/schemas/employee_response'
                type: array
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Employee
    post:
      description: 従業員のデータを登録する。(1件)
      externalDocs:
        description: 登録
        url: https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%83%87%E3%83%BC%E3%82%BF-post
      operationId: RegisterEmployee
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employee_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterEmployee_201_response'
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Employee
  /employees/{employeeCode}:
    get:
      description: 指定した従業員のデータを取得する。
      externalDocs:
        description: 従業員指定
        url: https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%83%87%E3%83%BC%E3%82%BF-get-1
      operationId: GetEmployee
      parameters:
      - description: 詳細を取得したい従業員コード
        explode: false
        in: path
        name: employeeCode
        required: true
        schema:
          example: "1000"
          type: string
        style: simple
      - description: |-
          指定された年月日時点での従業員のデータを表示
          ・過去日は最大3年前まで
          ・未来日は最大1年後まで
        explode: true
        in: query
        name: date
        required: false
        schema:
          description: defaultは当日
          format: date
          type: string
        style: form
      - description: 指定された年月日時点で退職済みの従業員を含む場合 True
        explode: true
        in: query
        name: includeResigner
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      - description: 指定されたプロパティをレスポンスに追加
        explode: false
        in: query
        name: additionalFields
        required: false
        schema:
          example:
          - emailAddresses
          items:
            enum:
            - lastNamePhonetics
            - firstNamePhonetics
            - hiredDate
            - birthDate
            - resignationDate
            - emailAddresses
            - allDayRegardingWorkInMinute
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee_response'
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Employee
  /employees/{employeeKey}:
    delete:
      description: 従業員のデータを削除する。(1件)
      externalDocs:
        description: 削除
        url: https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%83%87%E3%83%BC%E3%82%BF-delete
      operationId: DeleteEmployee
      parameters:
      - description: 従業員識別キー（従業員コードが変更されても不変）
        explode: false
        in: path
        name: employeeKey
        required: true
        schema:
          example: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
          type: string
        style: simple
      responses:
        "204":
          description: This response has no content.
      tags:
      - Employee
    put:
      description: |-
        従業員のデータを更新する。(1件)
        Request Bodyにて指定された項目のみ更新する。
        項目が指定され、値が無いまたは空文字列の場合は、該当項目をNULLで更新する。
        レスポンスには、AdditionalFieldを含むすべての従業員データを含める。
      externalDocs:
        description: 更新
        url: https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%83%87%E3%83%BC%E3%82%BF-put
      operationId: UpdateEmployee
      parameters:
      - description: 従業員識別キー（従業員コードが変更されても不変）
        explode: false
        in: path
        name: employeeKey
        required: true
        schema:
          example: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
          type: string
        style: simple
      - description: 所属、雇用区分を更新したい年月日
        explode: true
        in: query
        name: updateDate
        required: false
        schema:
          description: defaultは当日
          format: date
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmployee_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee_response'
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Employee
  /divisions:
    get:
      description: 所属データの一覧を取得する。
      externalDocs:
        description: 一覧
        url: https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E6%89%80%E5%B1%9E%E3%83%87%E3%83%BC%E3%82%BF-get
      operationId: GetDivisions
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - code: "1000"
                  name: 本社
                  dayBorderTime: 00:00
                - code: "2000"
                  name: 支社
                  dayBorderTime: 05:00
                items:
                  $ref: '#/components/schemas/division_response'
                type: array
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Employee
  /working-types:
    get:
      description: 雇用区分データの一覧を取得する。
      externalDocs:
        description: 一覧
        url: https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E9%9B%87%E7%94%A8%E5%8C%BA%E5%88%86%E3%83%87%E3%83%BC%E3%82%BF-get
      operationId: GetWorkingTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - code: "1"
                  name: 正社員
                items:
                  $ref: '#/components/schemas/working_type_response'
                type: array
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Employee
  /employee-groups:
    get:
      description: |-
        従業員グループのデータを取得する。
        ※対象企業が従業員グループ機能を利用できない場合にはデータを取得できません。
      externalDocs:
        description: 一覧
        url: https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%97%E3%83%87%E3%83%BC%E3%82%BF-get
      operationId: GetEmployeeGroups
      parameters:
      - description: 指定されたプロパティをレスポンスに追加
        explode: false
        in: query
        name: additionalFields
        required: false
        schema:
          example:
          - category
          items:
            enum:
            - category
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - code: "0001"
                  name: 人事部
                  category:
                    code: KEIKAN
                    name: 経営管理本部
                items:
                  $ref: '#/components/schemas/GetEmployeeGroups_200_response_inner'
                type: array
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Employee
  /daily-workings:
    get:
      description: 日別勤務データの一覧を取得する。
      externalDocs:
        description: 一覧
        url: https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0-%E6%97%A5%E5%88%A5%E5%8B%A4%E6%80%A0%E3%83%87%E3%83%BC%E3%82%BF-get
      operationId: GetDailyWorkings
      parameters:
      - description: 所属コード
        explode: true
        in: query
        name: division
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      - description: |-
          ・true:所属に基づいた勤務データ
          ・false:出勤先に基づいた勤務データ
          ・divisionが指定されている場合のみ使用可能
        explode: true
        in: query
        name: ondivision
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: |-
          取得したい期間の開始年月日
          ・過去日は最大3年前まで
        explode: true
        in: query
        name: start
        required: false
        schema:
          description: defaultは当日
          format: date
          type: string
        style: form
      - description: |-
          取得したい期間の終了年月日
          ・startとendは同時に指定
          ・期間は最大62日
          ・未来日は最大1年後まで
        explode: true
        in: query
        name: end
        required: false
        schema:
          description: defaultは当日
          format: date
          type: string
        style: form
      - description: 指定されたプロパティをレスポンスに追加
        explode: false
        in: query
        name: additionalFields
        required: false
        schema:
          example:
          - currentDateEmployee
          items:
            enum:
            - currentDateEmployee
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - date: 2016-05-01
                  dailyWorkings:
                  - date: 2016-05-01
                    employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
                    currentDateEmployee:
                      divisionCode: "1000"
                      divisionName: 本社
                      gender: male
                      typeCode: "1"
                      typeName: 正社員
                      code: "1000"
                      lastName: 勤怠
                      firstName: 太郎
                      lastNamePhonetics: キンタイ
                      firstNamePhonetics: タロウ
                      employeeGroups:
                      - code: "0001"
                        name: 人事部
                      - code: "0002"
                        name: 総務部
                    workPlaceDivisionCode: "1000"
                    workPlaceDivisionName: 本社
                    isClosing: true
                    isHelp: false
                    isError: false
                    workdayTypeName: 平日
                    assigned: 480
                    unassigned: 135
                    overtime: 135
                    lateNight: 0
                    lateNightUnassigned: 0
                    lateNightOvertime: 0
                    breakTime: 60
                    late: 0
                    earlyLeave: 0
                    totalWork: 615
                    holidaysObtained:
                      fulltimeHoliday:
                        code: 1
                        name: 有休
                      halfdayHolidays:
                      - typeName: PM休
                        code: 1
                        name: 有休
                      hourHolidays:
                      - start: 2016-05-01T10:00:00+09:00
                        end: 2016-05-01T11:00:00+09:00
                        minutes: 60
                        code: 1
                        name: 有休
                    autoBreakOff: 1
                    discretionaryVacation: 0
                    customDailyWorkings:
                    - code: dCus1
                      name: 日別カスタム1
                      calculationUnitCode: 1
                      calculationResult: 1
                    - code: dCus2
                      name: 日別カスタム2
                      calculationUnitCode: 2
                      calculationResult: 10
                    - code: dCus3
                      name: 日別カスタム3
                      calculationUnitCode: 4
                      calculationResult: 100
                items:
                  $ref: '#/components/schemas/daily_working_response'
                type: array
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Attendance
  /daily-workings/{date}:
    get:
      description: 指定した年月日の日別勤務データを取得する。
      externalDocs:
        description: 年月日指定
        url: https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0-%E6%97%A5%E5%88%A5%E5%8B%A4%E6%80%A0%E3%83%87%E3%83%BC%E3%82%BF-get-1
      operationId: GetDailyWorking
      parameters:
      - description: |-
          詳細を取得したい年月日
          ・過去日は最大3年前まで
          ・未来日は最大1年後まで
        explode: false
        in: path
        name: date
        required: true
        schema:
          description: defaultは当日
          format: date
          type: string
        style: simple
      - description: 所属コード
        explode: true
        in: query
        name: division
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      - description: |-
          ・true:所属に基づいた勤務データ
          ・false:出勤先に基づいた勤務データ
          ・divisionが指定されている場合のみ使用可能
        explode: true
        in: query
        name: ondivision
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: 指定されたプロパティをレスポンスに追加
        explode: false
        in: query
        name: additionalFields
        required: false
        schema:
          example:
          - currentDateEmployee
          items:
            enum:
            - currentDateEmployee
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/daily_working_response'
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Attendance
  /daily-workings/timerecord/{employeeKey}:
    get:
      description: 指定した年月日の日別打刻データを取得する。
      externalDocs:
        description: 年月日指定
        url: https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0-%E6%97%A5%E5%88%A5%E6%89%93%E5%88%BB%E3%83%87%E3%83%BC%E3%82%BF-get-1
      operationId: GetDailyWorkingTimerecord
      parameters:
      - description: |-
          指定された年月日時点での従業員のデータを表示
          ・過去日は最大3年前まで
          ・未来日は最大1年後まで
        explode: true
        in: query
        name: date
        required: false
        schema:
          description: defaultは当日
          format: date
          type: string
        style: form
      - description: 所属コード
        explode: true
        in: query
        name: division
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      - description: |-
          ・true:所属に基づいた勤務データ
          ・false:出勤先に基づいた勤務データ
          ・divisionが指定されている場合のみ使用可能
        explode: true
        in: query
        name: ondivision
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: 指定されたプロパティをレスポンスに追加
        explode: false
        in: query
        name: additionalFields
        required: false
        schema:
          example:
          - currentDateEmployee
          items:
            enum:
            - currentDateEmployee
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDailyWorkingTimerecord_200_response'
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Attendance
    post:
      description: 指定した従業員の打刻データを登録する。(1件)
      externalDocs:
        description: 従業員指定登録
        url: https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0-%E6%97%A5%E5%88%A5%E6%89%93%E5%88%BB%E3%83%87%E3%83%BC%E3%82%BF-post
      operationId: RegisterDailyWorkingTimerecord
      parameters:
      - description: 従業員識別キー（従業員コードが変更されても不変）
        explode: false
        in: path
        name: employeeKey
        required: true
        schema:
          example: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              exmaple1:
                value:
                  date: 2016-05-01
                  time: 2016-05-01T09:00:00+09:00
                  latitude: 35.6672237
                  longitude: 139.7422207
              exmaple2:
                value:
                  date: 2016-05-01
                  time: 2016-05-01T09:00:00+09:00
                  code: "1"
                  divisionCode: "1000"
            schema:
              $ref: '#/components/schemas/daily_working_timerecord_request'
      responses:
        "201":
          content:
            application/json:
              examples:
                exmaple1:
                  value:
                    date: 2016-05-01
                    employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
                    timeRecord:
                      time: 2016-05-01T09:00:00+09:00
                      code: "1"
                      name: 出勤
                      divisionName: 正社員
                      divisionCode: "1000"
                      latitude: 35.6672237
                      longitude: 139.7422207
                exmaple2:
                  value:
                    date: 2016-05-01
                    employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
                    timeRecord:
                      time: 2016-05-01T09:00:00+09:00
                      code: "1"
                      name: 出勤
                      divisionName: 正社員
                      divisionCode: "1000"
              schema:
                $ref: '#/components/schemas/RegisterDailyWorkingTimerecord_201_response'
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Attendance
  /daily-workings/timerecord/:
    get:
      description: 日別打刻データの一覧を取得する。 従業員を指定した場合、対象従業員の日別打刻データを取得する。
      externalDocs:
        description: 一覧
        url: https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0-%E6%97%A5%E5%88%A5%E6%89%93%E5%88%BB%E3%83%87%E3%83%BC%E3%82%BF-get
      operationId: GetDailyWorkingTimerecords
      parameters:
      - description: |-
          従業員識別キー（従業員コードが変更されても不変）
          ,区切りで複数従業員の指定可能
          divisionが指定されていない場合のみ使用可能
        explode: false
        in: query
        name: employeeKeys
        required: false
        schema:
          example:
          - 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
          items:
            type: string
          type: array
        style: form
      - description: 所属コード
        explode: true
        in: query
        name: division
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      - description: |-
          ・true:所属に基づいた勤務データ
          ・false:出勤先に基づいた勤務データ
          ・divisionが指定されている場合のみ使用可能
        explode: true
        in: query
        name: ondivision
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: |-
          取得したい期間の開始年月日
          ・過去日は最大3年前まで
        explode: true
        in: query
        name: start
        required: false
        schema:
          description: defaultは当日
          format: date
          type: string
        style: form
      - description: |-
          取得したい期間の終了年月日
          ・startとendは同時に指定
          ・期間は最大62日
          ・未来日は最大1年後まで
        explode: true
        in: query
        name: end
        required: false
        schema:
          description: defaultは当日
          format: date
          type: string
        style: form
      - description: 指定されたプロパティをレスポンスに追加
        explode: false
        in: query
        name: additionalFields
        required: false
        schema:
          example:
          - currentDateEmployee
          items:
            enum:
            - currentDateEmployee
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - date: 2016-05-01
                  dailyWorkings:
                  - date: 2016-05-01
                    employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
                    currentDateEmployee:
                      divisionCode: "1000"
                      divisionName: 本社
                      gender: male
                      typeCode: "1"
                      typeName: 正社員
                      code: "1000"
                      lastName: 勤怠
                      firstName: 太郎
                      lastNamePhonetics: キンタイ
                      firstNamePhonetics: タロウ
                      employeeGroups:
                      - code: "0001"
                        name: 人事部
                      - code: "0002"
                        name: 総務部
                    timeRecord:
                    - time: 2016-05-01T09:00:00+09:00
                      code: "1"
                      name: 出勤
                      divisionCode: "1000"
                      divisionName: 本社
                      latitude: 35.6672237
                      longitude: 139.7422207
                    - time: 2015-05-01T18:00:00+09:00
                      code: "2"
                      name: 退勤
                      divisionCode: "1000"
                      divisionName: 本社
                      credentialCode: 300
                      credentialName: KOTSL
                      latitude: 35.6672237
                      longitude: 139.7422207
                    - time: 2016-05-01T10:00:00+09:00
                      code: "3"
                      name: 休憩開始
                      divisionCode: "1000"
                      divisionName: 本社
                    - time: 2016-05-01T11:00:00+09:00
                      code: "4"
                      name: 休憩終了
                      divisionCode: "1000"
                      divisionName: 本社
                items:
                  $ref: '#/components/schemas/GetDailyWorkingTimerecords_200_response_inner'
                type: array
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Attendance
  /daily-workings/timerecord/{date}{?division,ondivision,additionalFields}:
    get:
      description: 日別打刻データの一覧を取得する。 従業員を指定した場合、対象従業員の日別打刻データを取得する。
      externalDocs:
        description: 一覧
        url: https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0-%E6%97%A5%E5%88%A5%E6%89%93%E5%88%BB%E3%83%87%E3%83%BC%E3%82%BF-get
      operationId: GetDailyWorkingTimerecords
      parameters:
      - description: |-
          従業員識別キー（従業員コードが変更されても不変）
          ,区切りで複数従業員の指定可能
          divisionが指定されていない場合のみ使用可能
        explode: false
        in: query
        name: employeeKeys
        required: false
        schema:
          example:
          - 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
          items:
            type: string
          type: array
        style: form
      - description: 所属コード
        explode: true
        in: query
        name: division
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      - description: |-
          ・true:所属に基づいた勤務データ
          ・false:出勤先に基づいた勤務データ
          ・divisionが指定されている場合のみ使用可能
        explode: true
        in: query
        name: ondivision
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: |-
          取得したい期間の開始年月日
          ・過去日は最大3年前まで
        explode: true
        in: query
        name: start
        required: false
        schema:
          description: defaultは当日
          format: date
          type: string
        style: form
      - description: |-
          取得したい期間の終了年月日
          ・startとendは同時に指定
          ・期間は最大62日
          ・未来日は最大1年後まで
        explode: true
        in: query
        name: end
        required: false
        schema:
          description: defaultは当日
          format: date
          type: string
        style: form
      - description: 指定されたプロパティをレスポンスに追加
        explode: false
        in: query
        name: additionalFields
        required: false
        schema:
          example:
          - currentDateEmployee
          items:
            enum:
            - currentDateEmployee
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - date: 2016-05-01
                  dailyWorkings:
                  - date: 2016-05-01
                    employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
                    currentDateEmployee:
                      divisionCode: "1000"
                      divisionName: 本社
                      gender: male
                      typeCode: "1"
                      typeName: 正社員
                      code: "1000"
                      lastName: 勤怠
                      firstName: 太郎
                      lastNamePhonetics: キンタイ
                      firstNamePhonetics: タロウ
                      employeeGroups:
                      - code: "0001"
                        name: 人事部
                      - code: "0002"
                        name: 総務部
                    timeRecord:
                    - time: 2016-05-01T09:00:00+09:00
                      code: "1"
                      name: 出勤
                      divisionCode: "1000"
                      divisionName: 本社
                      latitude: 35.6672237
                      longitude: 139.7422207
                    - time: 2015-05-01T18:00:00+09:00
                      code: "2"
                      name: 退勤
                      divisionCode: "1000"
                      divisionName: 本社
                      credentialCode: 300
                      credentialName: KOTSL
                      latitude: 35.6672237
                      longitude: 139.7422207
                    - time: 2016-05-01T10:00:00+09:00
                      code: "3"
                      name: 休憩開始
                      divisionCode: "1000"
                      divisionName: 本社
                    - time: 2016-05-01T11:00:00+09:00
                      code: "4"
                      name: 休憩終了
                      divisionCode: "1000"
                      divisionName: 本社
                items:
                  $ref: '#/components/schemas/GetDailyWorkingTimerecords_200_response_inner'
                type: array
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Attendance
components:
  parameters:
    token:
      description: 処理対象のトークン
      explode: false
      in: path
      name: token
      required: true
      schema:
        example: 8j9f7v4893y58rvt7nyfq2893n75tr78937n83
        type: string
      style: simple
    additionalFields_administrator:
      description: 指定されたプロパティをレスポンスに追加
      explode: false
      in: query
      name: additionalFields
      required: false
      schema:
        example:
        - associatedEmployees
        items:
          enum:
          - emailAddresses
          - associatedEmployees
          type: string
        type: array
      style: form
    additionalFields_employee:
      description: 指定されたプロパティをレスポンスに追加
      explode: false
      in: query
      name: additionalFields
      required: false
      schema:
        example:
        - emailAddresses
        items:
          enum:
          - lastNamePhonetics
          - firstNamePhonetics
          - hiredDate
          - birthDate
          - resignationDate
          - emailAddresses
          - allDayRegardingWorkInMinute
          type: string
        type: array
      style: form
    date:
      description: |-
        指定された年月日時点での従業員のデータを表示
        ・過去日は最大3年前まで
        ・未来日は最大1年後まで
      explode: true
      in: query
      name: date
      required: false
      schema:
        description: defaultは当日
        format: date
        type: string
      style: form
    division:
      description: 所属コード
      explode: true
      in: query
      name: division
      required: false
      schema:
        example: "1000"
        type: string
      style: form
    includeResigner:
      description: 指定された年月日時点で退職済みの従業員を含む場合 True
      explode: true
      in: query
      name: includeResigner
      required: false
      schema:
        default: false
        example: true
        type: boolean
      style: form
    employeeCode:
      description: 詳細を取得したい従業員コード
      explode: false
      in: path
      name: employeeCode
      required: true
      schema:
        example: "1000"
        type: string
      style: simple
    employeeKey:
      description: 従業員識別キー（従業員コードが変更されても不変）
      explode: false
      in: path
      name: employeeKey
      required: true
      schema:
        example: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
        type: string
      style: simple
    updateDate:
      description: 所属、雇用区分を更新したい年月日
      explode: true
      in: query
      name: updateDate
      required: false
      schema:
        description: defaultは当日
        format: date
        type: string
      style: form
    additionalFields_employee-groups:
      description: 指定されたプロパティをレスポンスに追加
      explode: false
      in: query
      name: additionalFields
      required: false
      schema:
        example:
        - category
        items:
          enum:
          - category
          type: string
        type: array
      style: form
    ondivision:
      description: |-
        ・true:所属に基づいた勤務データ
        ・false:出勤先に基づいた勤務データ
        ・divisionが指定されている場合のみ使用可能
      explode: true
      in: query
      name: ondivision
      required: false
      schema:
        default: true
        example: true
        type: boolean
      style: form
    start:
      description: |-
        取得したい期間の開始年月日
        ・過去日は最大3年前まで
      explode: true
      in: query
      name: start
      required: false
      schema:
        description: defaultは当日
        format: date
        type: string
      style: form
    end:
      description: |-
        取得したい期間の終了年月日
        ・startとendは同時に指定
        ・期間は最大62日
        ・未来日は最大1年後まで
      explode: true
      in: query
      name: end
      required: false
      schema:
        description: defaultは当日
        format: date
        type: string
      style: form
    additionalFields_daily-workings:
      description: 指定されたプロパティをレスポンスに追加
      explode: false
      in: query
      name: additionalFields
      required: false
      schema:
        example:
        - currentDateEmployee
        items:
          enum:
          - currentDateEmployee
          type: string
        type: array
      style: form
    date_required:
      description: |-
        詳細を取得したい年月日
        ・過去日は最大3年前まで
        ・未来日は最大1年後まで
      explode: false
      in: path
      name: date
      required: true
      schema:
        description: defaultは当日
        format: date
        type: string
      style: simple
    employeeKeys:
      description: |-
        従業員識別キー（従業員コードが変更されても不変）
        ,区切りで複数従業員の指定可能
        divisionが指定されていない場合のみ使用可能
      explode: false
      in: query
      name: employeeKeys
      required: false
      schema:
        example:
        - 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
        items:
          type: string
        type: array
      style: form
  schemas:
    employee_response:
      example:
        lastName: lastName
        code: code
        gender: gender
        divisionName: divisionName
        typeName: typeName
        firstNamePhonetics: firstNamePhonetics
        allDayRegardingWorkInMinute: 480
        lastNamePhonetics: lastNamePhonetics
        birthDate: 2000-01-23
        resignationDate: 2000-01-23
        typeCode: typeCode
        divisionCode: divisionCode
        firstName: firstName
        emailAddresses:
        - emailAddresses
        - emailAddresses
        hiredDate: 2000-01-23
        key: key
        employeeGroups:
        - code: code
          name: name
        - code: code
          name: name
      properties:
        divisionCode:
          description: 所属コード
          type: string
        divisionName:
          description: 所属名
          type: string
        gender:
          description: 性別（male： 男性　female： 女性）
          type: string
        typeCode:
          description: 雇用区分コード
          type: string
        typeName:
          description: 雇用区分名
          type: string
        code:
          description: 従業員コード
          type: string
        key:
          description: 従業員識別キー（従業員コードが変更されても不変）
          type: string
        lastName:
          description: 姓
          type: string
        firstName:
          description: 名
          type: string
        employeeGroups:
          description: 従業員グループ情報
          items:
            $ref: '#/components/schemas/GetDailyWorkingTimerecords_200_response_inner_currentDateEmployee_employeeGroups_inner'
          type: array
        lastNamePhonetics:
          description: 姓（カナ）
          type: string
        firstNamePhonetics:
          description: 名（カナ）
          type: string
        hiredDate:
          description: 入社年月日
          format: date
          type: string
        birthDate:
          description: 生年月日
          format: date
          type: string
        resignationDate:
          description: 退職年月日
          format: date
          type: string
        emailAddresses:
          description: メールアドレス
          items:
            format: email
            type: string
          type: array
        allDayRegardingWorkInMinute:
          description: 日の契約労働時間
          example: 480
          type: integer
      required:
      - code
      - divisionCode
      - divisionName
      - employeeGroups
      - firstName
      - gender
      - key
      - lastName
      - typeCode
      - typeName
      type: object
    employee_request:
      properties:
        divisionCode:
          description: 所属コード
          type: string
        gender:
          description: 性別（male： 男性　female： 女性）
          type: string
        typeCode:
          description: 雇用区分コード
          type: string
        code:
          description: 従業員コード
          type: string
        lastName:
          description: 姓
          type: string
        firstName:
          description: 名
          type: string
        lastNamePhonetics:
          description: 姓（カナ）
          type: string
        firstNamePhonetics:
          description: 名（カナ）
          type: string
        hiredDate:
          description: 入社年月日
          format: date
          type: string
        birthDate:
          description: 生年月日
          format: date
          type: string
        resignationDate:
          description: 退職年月日
          format: date
          type: string
        emailAddresses:
          description: メールアドレス
          items:
            format: email
            type: string
          type: array
        allDayRegardingWorkInMinute:
          description: 日の契約労働時間
          example: 480
          type: integer
      required:
      - code
      - divisionCode
      - firstName
      - gender
      - lastName
      - typeCode
      type: object
    division_response:
      properties:
        code:
          description: 所属コード
          type: string
        name:
          description: 所属名
          type: string
        dayBorderTime:
          description: 所属名
          pattern: "^(?:[01][0-9]|2[0-3]):[0-5][0-9]$"
          type: string
      required:
      - code
      - dayBorderTime
      - name
      type: object
    working_type_response:
      properties:
        code:
          description: 雇用区分コード
          type: string
        name:
          description: 雇用区分名
          type: string
      required:
      - code
      - dayBorderTime
      - name
      type: object
    daily_working_response:
      example:
        date: 2000-01-23
        lateNightOvertime: 2
        autoBreakOff: 1
        isHelp: true
        employeeKey: employeeKey
        unassigned: 6
        lateNight: 5
        discretionaryVacation: 6
        totalWork: 2
        holidaysObtained:
          halfdayHolidays:
            code: 7
            typeName: typeName
            name: name
          fulltimeHoliday:
            code: 4
            name: name
          hourHolidays:
            code: 1
            minutes: 1
            start: 2000-01-23T04:56:07.000+00:00
            name: name
            end: 2000-01-23T04:56:07.000+00:00
        isError: true
        breakTime: 7
        earlyLeave: 3
        late: 9
        customDailyWorkings:
          calculationUnitCode: 7
          code: code
          calculationResult: 1
          name: name
        currentDateEmployee:
          divisionCode: divisionCode
          lastName: lastName
          firstName: firstName
          code: code
          gender: no_selected
          divisionName: divisionName
          typeName: typeName
          firstNamePhonetics: firstNamePhonetics
          lastNamePhonetics: lastNamePhonetics
          typeCode: typeCode
          employeeGroups:
          - code: code
            name: name
          - code: code
            name: name
        lateNightUnassigned: 5
        overtime: 1
        assigned: 0
        workdayTypeName: workdayTypeName
        isClosing: true
        workPlaceDivisionName: workPlaceDivisionName
        workPlaceDivisionCode: workPlaceDivisionCode
      properties:
        date:
          description: 日時
          format: date
          type: string
        employeeKey:
          description: 従業員識別キー（従業員コードが変更されても不変）
          type: string
        workPlaceDivisionCode:
          description: 出勤先所属コード
          type: string
        workPlaceDivisionName:
          description: 出勤先所属名
          type: string
        isClosing:
          description: 締め状況
          type: boolean
        isHelp:
          description: ヘルプ勤務状況
          type: boolean
        isError:
          description: エラー勤務状況
          type: boolean
        workdayTypeName:
          description: 勤務日種別名
          type: string
        assigned:
          description: 所定時間（分）
          type: integer
        unassigned:
          description: 所定外時間（分）
          type: integer
        overtime:
          description: 残業時間（分）
          type: integer
        lateNight:
          description: 深夜時間（分）
          type: integer
        lateNightUnassigned:
          description: 深夜所定外時間（分）
          type: integer
        lateNightOvertime:
          description: 深夜残業時間（分）
          type: integer
        breakTime:
          description: 休憩時間（分）
          type: integer
        late:
          description: 遅刻時間（分）
          type: integer
        earlyLeave:
          description: 早退時間（分）
          type: integer
        totalWork:
          description: 労働合計時間（分）
          type: integer
        holidaysObtained:
          $ref: '#/components/schemas/daily_working_response_holidaysObtained'
        autoBreakOff:
          description: 自動休憩無効（null： 休憩を無効化しない 1：　雇用区分休憩無効　2： スケジュール休憩無効　3： 全ての自動休憩無効）
          enum:
          - 1
          - 2
          - 3
          - null
          nullable: true
          type: integer
        discretionaryVacation:
          description: 休暇みなし時間（分）
          type: integer
        customDailyWorkings:
          $ref: '#/components/schemas/daily_working_response_customDailyWorkings'
        currentDateEmployee:
          $ref: '#/components/schemas/GetDailyWorkingTimerecords_200_response_inner_currentDateEmployee'
      required:
      - assigned
      - autoBreakOff
      - breakTime
      - customDailyWorkings
      - date
      - discretionaryVacation
      - earlyLeave
      - employeeKey
      - holidaysObtained
      - isClosing
      - isError
      - isHelp
      - late
      - lateNight
      - lateNightOvertime
      - lateNightUnassigned
      - overtime
      - totalWork
      - unassigned
      - workPlaceDivisionCode
      - workdayTypeName
      type: object
    daily_working_timerecord_request:
      properties:
        time:
          description: 打刻時間
          format: date-time
          type: string
        code:
          description: |-
            打刻種別コード（1： 出勤　2： 退勤　3： 休憩開始　4： 休憩終了　7： 外出入　8： 外出戻）
            省略時は、KING OF TIMEの処理に従って打刻種別を決定します。
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "7"
          - "8"
          type: string
        divisionCode:
          description: |-
            打刻先所属コード
            省略時は、該当従業員が所属している所属を打刻先所属として扱います。
          type: string
        date:
          description: |-
            勤務日
            指定された勤務日に打刻データが紐づきます。
          format: date
          type: string
        latitude:
          description: 緯度
          format: double
          type: number
        longitude:
          description: 経度
          format: double
          type: number
      required:
      - date
      - time
      type: object
    daily_working_timerecord:
      description: 打刻
      example:
        divisionCode: divisionCode
        code: "1"
        latitude: 0.8008281904610115
        name: name
        divisionName: divisionName
        time: 2000-01-23T04:56:07.000+00:00
        longitude: 6.027456183070403
      properties:
        time:
          description: 打刻時間
          format: date-time
          type: string
        code:
          description: 打刻種別コード
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "7"
          - "8"
          type: string
        name:
          description: 打刻種別名
          type: string
        divisionCode:
          description: 打刻所属コード
          type: string
        divisionName:
          description: 打刻所属名
          type: string
        latitude:
          description: 緯度
          format: double
          type: number
        longitude:
          description: 経度
          format: double
          type: number
      required:
      - code
      - divisionCode
      - divisionName
      - latitude
      - longitude
      - name
      - time
      type: object
    RefreshAccessToken_201_response:
      example:
        token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
      properties:
        token:
          description: refreshed access token
          example: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
          type: string
      required:
      - token
      type: object
    GetAccessTokenAvailability_200_response:
      example:
        available: true
      properties:
        available:
          type: boolean
      required:
      - available
      type: object
    GetCompany_200_response_settings:
      description: 企業設定情報
      properties:
        timeDisplayFormat:
          description: 表示形式（decimal： 10進法　sexagesimal： 60進法）
          type: string
        decimalTreatType:
          description: 10進表示の小数第3位の扱い（roundDown： 切下げ　roundUp： 切上げ　round： 四捨五入）
          type: string
      required:
      - decimalTreatType
      - timeDisplayFormat
      type: object
    GetCompany_200_response:
      example:
        key: 1qazxsw23edc....
        code: cmp
        name: 企業名
        host: s2.kingtime.jp
        businessYearStartDate: 04/01
        settings:
          timeDisplayFormat: decimal
          decimalTreatType: roundUp
      properties:
        key:
          description: 企業識別キー
          type: string
        code:
          description: 企業コード
          type: string
        name:
          description: 企業名
          type: string
        host:
          description: ホスト名
          type: string
        businessYearStartDate:
          description: 事業年度開始日
          type: string
        settings:
          $ref: '#/components/schemas/GetCompany_200_response_settings'
      required:
      - businessYearStartDate
      - code
      - host
      - key
      - name
      - settings
      type: object
    GetAdministrators_200_response_inner_associatedEmployees_inner:
      description: 割当従業員
      properties:
        code:
          description: 従業員コード
          type: string
        key:
          description: 従業員識別キー（従業員コードが変更されても不変）
          type: string
        lastName:
          description: 姓
          type: string
        firstName:
          description: 名
          type: string
      required:
      - code
      - firstName
      - key
      - lastName
      type: object
    GetAdministrators_200_response_inner:
      properties:
        code:
          description: 管理者コード
          type: string
        key:
          description: 管理者識別キー（管理者コードが変更されても不変）
          type: string
        name:
          description: 管理者名
          type: string
        emailAddresses:
          description: メールアドレス
          format: email
          type: string
        associatedEmployees:
          items:
            $ref: '#/components/schemas/GetAdministrators_200_response_inner_associatedEmployees_inner'
          type: array
      required:
      - code
      - key
      - name
      type: object
    RegisterEmployee_201_response:
      example:
        divisionCode: "1000"
        gender: male
        typeCode: "1"
        code: "1000"
        lastName: 勤怠
        firstName: 太郎
        key: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe27352152c4
        emailAddresses:
        - kintaitarou@h-t.co.jp
      properties:
        divisionCode:
          description: 所属コード
          type: string
        gender:
          description: 性別（male： 男性　female： 女性）
          type: string
        typeCode:
          description: 雇用区分コード
          type: string
        code:
          description: 従業員コード
          type: string
        lastName:
          description: 姓
          type: string
        firstName:
          description: 名
          type: string
        key:
          description: 従業員識別キー（従業員コードが変更されても不変）
          type: string
      required:
      - code
      - divisionCode
      - firstName
      - gender
      - key
      - lastName
      - typeCode
      type: object
    UpdateEmployee_request:
      example:
        divisionCode: "1000"
        gender: male
        typeCode: "1"
        code: "1000"
        lastName: 勤怠
        firstName: 太郎
        emailAddresses:
        - kintaitarou@h-t.co.jp
      properties:
        divisionCode:
          description: 所属コード
          type: string
        gender:
          description: 性別（male： 男性　female： 女性）
          type: string
        typeCode:
          description: 雇用区分コード
          type: string
        code:
          description: 従業員コード
          type: string
        lastName:
          description: 姓
          type: string
        firstName:
          description: 名
          type: string
        lastNamePhonetics:
          description: 姓（カナ）
          type: string
        firstNamePhonetics:
          description: 名（カナ）
          type: string
        hiredDate:
          description: 入社年月日
          format: date
          type: string
        birthDate:
          description: 生年月日
          format: date
          type: string
        resignationDate:
          description: 退職年月日
          format: date
          type: string
        emailAddresses:
          description: メールアドレス
          items:
            format: email
            type: string
          type: array
        allDayRegardingWorkInMinute:
          description: 日の契約労働時間
          example: 480
          type: integer
      type: object
    GetEmployeeGroups_200_response_inner_category:
      description: 従業員グループカテゴリ
      properties:
        code:
          description: 従業員グループカテゴリコード
          type: string
        name:
          description: 従業員グループカテゴリ名
          type: string
      required:
      - code
      - name
      type: object
    GetEmployeeGroups_200_response_inner:
      properties:
        code:
          description: 従業員グループコード
          type: string
        name:
          description: 従業員グループ名
          type: string
        category:
          $ref: '#/components/schemas/GetEmployeeGroups_200_response_inner_category'
      required:
      - code
      - name
      type: object
    GetDailyWorkingTimerecord_200_response:
      example:
        date: 2016-05-01
        dailyWorkings:
        - date: 2016-05-01
          employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
          currentDateEmployee:
            divisionCode: "1000"
            divisionName: 本社
            gender: male
            typeCode: "1"
            typeName: 正社員
            code: "1000"
            lastName: 勤怠
            firstName: 太郎
            lastNamePhonetics: キンタイ
            firstNamePhonetics: タロウ
            employeeGroups:
            - code: "0001"
              name: 人事部
            - code: "0002"
              name: 総務部
          timeRecord:
          - time: 2016-05-01T09:00:00+09:00
            code: "1"
            name: 出勤
            divisionCode: "1000"
            divisionName: 本社
            latitude: 35.6672237
            longitude: 139.7422207
          - time: 2015-05-01T18:00:00+09:00
            code: "2"
            name: 退勤
            divisionCode: "1000"
            divisionName: 本社
            credentialCode: 300
            credentialName: KOTSL
            latitude: 35.6672237
            longitude: 139.7422207
          - time: 2016-05-01T10:00:00+09:00
            code: "3"
            name: 休憩開始
            divisionCode: "1000"
            divisionName: 本社
          - time: 2016-05-01T11:00:00+09:00
            code: "4"
            name: 休憩終了
            divisionCode: "1000"
            divisionName: 本社
      properties:
        date:
          format: date
          type: string
        dailyWorkings:
          items:
            $ref: '#/components/schemas/daily_working_timerecord'
          type: array
      required:
      - dailyWorkings
      - date
      type: object
    RegisterDailyWorkingTimerecord_201_response:
      example:
        date: 2000-01-23
        timeRecord:
          divisionCode: divisionCode
          code: "1"
          latitude: 0.8008281904610115
          name: name
          divisionName: divisionName
          time: 2000-01-23T04:56:07.000+00:00
          longitude: 6.027456183070403
        employeeKey: employeeKey
      properties:
        date:
          description: 日時
          format: date
          type: string
        employeeKey:
          description: 従業員識別キー（従業員コードが変更されても不変）
          type: string
        timeRecord:
          $ref: '#/components/schemas/daily_working_timerecord'
      required:
      - date
      - employeeKey
      - timeRecord
      type: object
    GetDailyWorkingTimerecords_200_response_inner_currentDateEmployee_employeeGroups_inner:
      example:
        code: code
        name: name
      properties:
        code:
          description: 従業員グループコード
          type: string
        name:
          description: 従業員グループ名
          type: string
      required:
      - code
      - name
      type: object
    GetDailyWorkingTimerecords_200_response_inner_currentDateEmployee:
      description: 今日時点の従業員データ
      example:
        divisionCode: divisionCode
        lastName: lastName
        firstName: firstName
        code: code
        gender: no_selected
        divisionName: divisionName
        typeName: typeName
        firstNamePhonetics: firstNamePhonetics
        lastNamePhonetics: lastNamePhonetics
        typeCode: typeCode
        employeeGroups:
        - code: code
          name: name
        - code: code
          name: name
      properties:
        divisionCode:
          description: 所属コード
          type: string
        divisionName:
          description: 所属名
          type: string
        gender:
          description: 性別（no_selected： 選択しない　male： 男性　female： 女性）
          enum:
          - no_selected
          - male
          - female
          type: string
        typeCode:
          description: 雇用区分コード
          type: string
        typeName:
          description: 雇用区分名
          type: string
        code:
          description: 従業員コード
          type: string
        lastName:
          description: 姓
          type: string
        firstName:
          description: 名
          type: string
        lastNamePhonetics:
          description: 姓（カナ）
          type: string
        firstNamePhonetics:
          description: 名（カナ）
          type: string
        employeeGroups:
          description: 従業員グループ情報
          items:
            $ref: '#/components/schemas/GetDailyWorkingTimerecords_200_response_inner_currentDateEmployee_employeeGroups_inner'
          type: array
      required:
      - code
      - divisionCode
      - divisionName
      - employeeGroups
      - firstName
      - firstNamePhonetics
      - gender
      - lastName
      - lastNamePhonetics
      - typeCode
      - typeName
      type: object
    GetDailyWorkingTimerecords_200_response_inner:
      properties:
        date:
          description: 日時
          format: date
          type: string
        employeeKey:
          description: 従業員識別キー（従業員コードが変更されても不変）
          type: string
        timeRecord:
          description: 打刻
          items:
            $ref: '#/components/schemas/daily_working_timerecord'
          type: array
        currentDateEmployee:
          $ref: '#/components/schemas/GetDailyWorkingTimerecords_200_response_inner_currentDateEmployee'
      required:
      - date
      - employeeKey
      - timeRecord
      type: object
    daily_working_response_holidaysObtained_fulltimeHoliday:
      example:
        code: 4
        name: name
      properties:
        code:
          description: 休暇区分コード
          type: integer
        name:
          description: 休暇区分名
          type: string
      required:
      - code
      - name
      type: object
    daily_working_response_holidaysObtained_halfdayHolidays:
      example:
        code: 7
        typeName: typeName
        name: name
      properties:
        typeName:
          description: 半休種別名
          type: string
        code:
          description: 休暇区分コード
          type: integer
        name:
          description: 休暇区分名
          type: string
      required:
      - code
      - name
      - typeName
      type: object
    daily_working_response_holidaysObtained_hourHolidays:
      example:
        code: 1
        minutes: 1
        start: 2000-01-23T04:56:07.000+00:00
        name: name
        end: 2000-01-23T04:56:07.000+00:00
      properties:
        start:
          description: 休暇開始時間
          format: date-time
          type: string
        end:
          description: 休暇終了時間
          format: date-time
          type: string
        minutes:
          description: 休暇取得時間
          type: integer
        code:
          description: 休暇区分コード
          type: integer
        name:
          description: 休暇区分名
          type: string
      required:
      - code
      - end
      - minutes
      - name
      - start
      type: object
    daily_working_response_holidaysObtained:
      description: 休暇取得
      example:
        halfdayHolidays:
          code: 7
          typeName: typeName
          name: name
        fulltimeHoliday:
          code: 4
          name: name
        hourHolidays:
          code: 1
          minutes: 1
          start: 2000-01-23T04:56:07.000+00:00
          name: name
          end: 2000-01-23T04:56:07.000+00:00
      properties:
        fulltimeHoliday:
          $ref: '#/components/schemas/daily_working_response_holidaysObtained_fulltimeHoliday'
        halfdayHolidays:
          $ref: '#/components/schemas/daily_working_response_holidaysObtained_halfdayHolidays'
        hourHolidays:
          $ref: '#/components/schemas/daily_working_response_holidaysObtained_hourHolidays'
      required:
      - fulltimeHoliday
      - halfdayHolidays
      - hourHolidays
      type: object
    daily_working_response_customDailyWorkings:
      example:
        calculationUnitCode: 7
        code: code
        calculationResult: 1
        name: name
      properties:
        code:
          description: 日別カスタム表示コード
          type: string
        name:
          description: 日別カスタム表示名
          type: string
        calculationUnitCode:
          description: 計算単位コード（1： 日数　2： 時間　4： 数値）
          enum:
          - 1
          - 2
          - 4
          type: integer
        calculationResult:
          description: 計算結果
          type: integer
      required:
      - calculationResult
      - calculationUnitCode
      - code
      - name
      type: object
  securitySchemes:
    Bearer:
      description: Credentials or access token for API
      scheme: bearer
      type: http
