openapi: 3.0.3
info:
  description: KING OF TIME WebAPI specification https://developer.kingtime.jp/
  title: KING OF TIME WebAPI
  version: 1.0.0
servers:
- description: Production server (uses live data)
  url: https://api.kingtime.jp/v1.0
security:
- Bearer: []
tags:
- externalDocs:
    url: https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3
  name: Token
- externalDocs:
    url: https://developer.kingtime.jp/#%E4%BC%81%E6%A5%AD%E6%83%85%E5%A0%B1
  name: Company
paths:
  /tokens/{token}:
    delete:
      description: 指定されたアクセストークンを利用停止する。
      externalDocs:
        url: https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-delete
      operationId: SuspendAccessToken
      parameters:
      - description: 処理対象のトークン
        explode: false
        in: path
        name: token
        required: true
        schema:
          example: 8j9f7v4893y58rvt7nyfq2893n75tr78937n83
          type: string
        style: simple
      responses:
        "204":
          description: This response has no content.
      tags:
      - Token
    post:
      description: 指定されたアクセストークンを利用停止し、新たに同じ設定でアクセストークンを発行する。
      externalDocs:
        url: https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-post
      operationId: RefreshAccessToken
      parameters:
      - description: 処理対象のトークン
        explode: false
        in: path
        name: token
        required: true
        schema:
          example: 8j9f7v4893y58rvt7nyfq2893n75tr78937n83
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshAccessToken_201_response'
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
      tags:
      - Token
  /tokens/{token}/available:
    get:
      description: 指定されたアクセストークンが有効か確認する。
      externalDocs:
        url: https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-get
      operationId: GetAccessTokenAvailability
      parameters:
      - description: 処理対象のトークン
        explode: false
        in: path
        name: token
        required: true
        schema:
          example: 8j9f7v4893y58rvt7nyfq2893n75tr78937n83
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccessTokenAvailability_200_response'
          description: ""
      tags:
      - Token
  /company:
    get:
      description: 企業情報データを取得する。
      externalDocs:
        description: 一覧
        url: https://developer.kingtime.jp/#%E4%BC%81%E6%A5%AD%E6%83%85%E5%A0%B1-%E4%BC%81%E6%A5%AD%E6%83%85%E5%A0%B1%E3%83%87%E3%83%BC%E3%82%BF-get
      operationId: GetCompany
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompany_200_response'
          description: ""
          headers:
            Content-Type:
              explode: false
              schema:
                example: application/json
                type: string
              style: simple
      tags:
      - Company
components:
  parameters:
    token:
      description: 処理対象のトークン
      explode: false
      in: path
      name: token
      required: true
      schema:
        example: 8j9f7v4893y58rvt7nyfq2893n75tr78937n83
        type: string
      style: simple
  schemas:
    GetCompany_200_response_settings:
      description: 企業設定情報
      properties:
        timeDisplayFormat:
          description: 表示形式（decimal： 10進法　sexagesimal： 60進法）
          type: string
        decimalTreatType:
          description: 10進表示の小数第3位の扱い（roundDown： 切下げ　roundUp： 切上げ　round： 四捨五入）
          type: string
      required:
      - decimalTreatType
      - timeDisplayFormat
      type: object
    GetCompany_200_response:
      example:
        key: 1qazxsw23edc....
        code: cmp
        name: 企業名
        host: s2.kingtime.jp
        businessYearStartDate: 04/01
        settings:
          timeDisplayFormat: decimal
          decimalTreatType: roundUp
      properties:
        key:
          description: 企業識別キー
          type: string
        code:
          description: 企業コード
          type: string
        name:
          description: 企業名
          type: string
        host:
          description: ホスト名
          type: string
        businessYearStartDate:
          description: 事業年度開始日
          type: string
        settings:
          $ref: '#/components/schemas/GetCompany_200_response_settings'
      required:
      - businessYearStartDate
      - code
      - host
      - key
      - name
      - settings
      type: object
    GetAccessTokenAvailability_200_response:
      example:
        available: true
      properties:
        available:
          type: boolean
      required:
      - available
      type: object
    RefreshAccessToken_201_response:
      example:
        token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
      properties:
        token:
          description: refreshed access token
          example: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
          type: string
      required:
      - token
      type: object
  securitySchemes:
    Bearer:
      description: Credentials or access token for API
      scheme: bearer
      type: http
