openapi: 3.0.3
info:
  version: 1.0.0
  title: KING OF TIME WebAPI
  description: 'KING OF TIME WebAPI specification https://developer.kingtime.jp/'
servers:
  - url: 'https://api.kingtime.jp/v1.0'
    description: Production server (uses live data)
paths:
  '/tokens/{token}':
    post:
      operationId: RefreshAccessToken
      parameters:
        - $ref: '#/components/parameters/token'
      tags:
        - Token
      description: 指定されたアクセストークンを利用停止し、新たに同じ設定でアクセストークンを発行する。
      externalDocs:
        url: 'https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-post'
      responses:
        '201':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshAccessToken'
    delete:
      operationId: SuspendAccessToken
      parameters:
        - $ref: '#/components/parameters/token'
      tags:
        - Token
      description: 指定されたアクセストークンを利用停止する。
      externalDocs:
        url: 'https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-delete'
      responses:
        '204':
          description: This response has no content.
  '/tokens/{token}/available':
    get:
      operationId: GetAccessTokenAvailability
      parameters:
        - $ref: '#/components/parameters/token'
      tags:
        - Token
      description: 指定されたアクセストークンが有効か確認する。
      externalDocs:
        url: 'https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3-get'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccessTokenAvailability'
  /company:
    get:
      operationId: GetCompany
      tags:
        - Company
      description: 企業情報データを取得する。
      externalDocs:
        description: 一覧
        url: 'https://developer.kingtime.jp/#%E4%BC%81%E6%A5%AD%E6%83%85%E5%A0%B1-%E4%BC%81%E6%A5%AD%E6%83%85%E5%A0%B1%E3%83%87%E3%83%BC%E3%82%BF-get'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompany'
  /administrators:
    get:
      operationId: GetAdministrators
      summary: '/administrators{?additionalFields}'
      parameters:
        - $ref: '#/components/parameters/additionalFields_administrator'
      tags:
        - Administrator
      description: 管理者のデータを取得する。
      externalDocs:
        description: 一覧
        url: 'https://developer.kingtime.jp/#%E7%AE%A1%E7%90%86%E8%80%85-%E7%AE%A1%E7%90%86%E8%80%85%E3%83%87%E3%83%BC%E3%82%BF-get'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdministrators'
  '/employees/{employeeCode}':
    get:
      operationId: GetEmployee
      summary: '/employees/{employeeCode}{?date,includeResigner,additionalFields}'
      parameters:
        - $ref: '#/components/parameters/employeeCode'
        - $ref: '#/components/parameters/date'
        - $ref: '#/components/parameters/includeResigner'
        - $ref: '#/components/parameters/additionalFields_employee'
      tags:
        - Employee
      description: 指定した従業員のデータを取得する。
      externalDocs:
        description: 従業員指定
        url: 'https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%83%87%E3%83%BC%E3%82%BF-get-1'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEmployee'
  /employees:
    get:
      operationId: GetEmployees
      summary: '/employees{?date,division,includeResigner,additionalFields}'
      parameters:
        - $ref: '#/components/parameters/date'
        - $ref: '#/components/parameters/division'
        - $ref: '#/components/parameters/includeResigner'
        - $ref: '#/components/parameters/additionalFields_employee'
      tags:
        - Employee
      description: 従業員データの一覧を取得する。
      externalDocs:
        description: 一覧
        url: 'https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%83%87%E3%83%BC%E3%82%BF-get'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEmployees'
    post:
      operationId: RegisterEmployee
      tags:
        - Employee
      description: 従業員のデータを登録する。(1件)
      externalDocs:
        description: 登録
        url: 'https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%83%87%E3%83%BC%E3%82%BF-post'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employee_request'
              example:
                divisionCode: '1000'
                gender: male
                typeCode: '1'
                code: '1000'
                lastName: 勤怠
                firstName: 太郎
                emailAddresses:
                  - kintaitarou@h-t.co.jp
      responses:
        '201':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterEmployee'
  '/employees/{employeeKey}':
    delete:
      operationId: DeleteEmployee
      summary: '/employees/{employeeKey}'
      parameters:
        - $ref: '#/components/parameters/employeeKey'
      tags:
        - Employee
      description: 従業員のデータを削除する。(1件)
      externalDocs:
        description: 削除
        url: 'https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%83%87%E3%83%BC%E3%82%BF-delete'
      responses:
        '204':
          description: This response has no content.
    put:
      operationId: UpdateEmployee
      summary: '/employees/{employeeKey}{?updateDate}'
      parameters:
        - $ref: '#/components/parameters/employeeKey'
        - $ref: '#/components/parameters/updateDate'
      tags:
        - Employee
      description: |-
        従業員のデータを更新する。(1件)
        Request Bodyにて指定された項目のみ更新する。
        項目が指定され、値が無いまたは空文字列の場合は、該当項目をNULLで更新する。
        レスポンスには、AdditionalFieldを含むすべての従業員データを含める。
      externalDocs:
        description: 更新
        url: 'https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%83%87%E3%83%BC%E3%82%BF-put'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employee_request'
              example:
                divisionCode: '1000'
                gender: male
                typeCode: '1'
                code: '1000'
                lastName: 勤怠
                firstName: 太郎
                emailAddresses:
                  - kintaitarou@h-t.co.jp
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEmployee'
  /divisions:
    get:
      operationId: GetDivisions
      tags:
        - Employee
      description: 所属データの一覧を取得する。
      externalDocs:
        description: 一覧
        url: 'https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E6%89%80%E5%B1%9E%E3%83%87%E3%83%BC%E3%82%BF-get'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDivisions'
  /working-types:
    get:
      operationId: GetWorkingTypes
      tags:
        - Employee
      description: 雇用区分データの一覧を取得する。
      externalDocs:
        description: 一覧
        url: 'https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E9%9B%87%E7%94%A8%E5%8C%BA%E5%88%86%E3%83%87%E3%83%BC%E3%82%BF-get'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/working_type_response'
                example:
                  - code: '1'
                    name: 正社員
  /employee-groups:
    get:
      operationId: GetEmployeeGroups
      parameters:
        - $ref: '#/components/parameters/additionalFields_employee-groups'
      tags:
        - Employee
      description: |-
        従業員グループのデータを取得する。
        ※対象企業が従業員グループ機能を利用できない場合にはデータを取得できません。
      externalDocs:
        description: 一覧
        url: 'https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1-%E5%BE%93%E6%A5%AD%E5%93%A1%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%97%E3%83%87%E3%83%BC%E3%82%BF-get'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEmployeeGroups'
  /daily-workings:
    get:
      operationId: GetDailyWorkings
      parameters:
        - $ref: '#/components/parameters/division'
        - $ref: '#/components/parameters/ondivision'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/end'
        - $ref: '#/components/parameters/additionalFields_daily-workings'
      tags:
        - Attendance
      description: 日別勤務データの一覧を取得する。
      externalDocs:
        description: 一覧
        url: 'https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0-%E6%97%A5%E5%88%A5%E5%8B%A4%E6%80%A0%E3%83%87%E3%83%BC%E3%82%BF-get'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDailyWorkings'
  '/daily-workings/{date}':
    get:
      operationId: GetDailyWorking
      parameters:
        - $ref: '#/components/parameters/date_required'
        - $ref: '#/components/parameters/division'
        - $ref: '#/components/parameters/ondivision'
        - $ref: '#/components/parameters/additionalFields_daily-workings'
      tags:
        - Attendance
      description: 指定した年月日の日別勤務データを取得する。
      externalDocs:
        description: 年月日指定
        url: 'https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0-%E6%97%A5%E5%88%A5%E5%8B%A4%E6%80%A0%E3%83%87%E3%83%BC%E3%82%BF-get-1'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDailyWorking'
  '/daily-workings/timerecord/{employeeKey}':
    post:
      operationId: RegisterDailyWorkingTimerecord
      parameters:
        - $ref: '#/components/parameters/employeeKey'
      tags:
        - Attendance
      description: 指定した従業員の打刻データを登録する。(1件)
      externalDocs:
        description: 従業員指定登録
        url: 'https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0-%E6%97%A5%E5%88%A5%E6%89%93%E5%88%BB%E3%83%87%E3%83%BC%E3%82%BF-post'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/daily_working_timerecord_request'
            examples:
              exmaple1:
                value:
                  date: '2016-05-01'
                  time: '2016-05-01T09:00:00+09:00'
                  latitude: 35.6672237
                  longitude: 139.7422207
              exmaple2:
                value:
                  date: '2016-05-01'
                  time: '2016-05-01T09:00:00+09:00'
                  code: '1'
                  divisionCode: '1000'
      responses:
        '201':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterDailyWorkingTimerecord'
              examples:
                exmaple1:
                  value:
                    date: '2016-05-01'
                    employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
                    timeRecord:
                      time: '2016-05-01T09:00:00+09:00'
                      code: '1'
                      name: 出勤
                      divisionName: 正社員
                      divisionCode: '1000'
                      latitude: 35.6672237
                      longitude: 139.7422207
                exmaple2:
                  value:
                    date: '2016-05-01'
                    employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
                    timeRecord:
                      time: '2016-05-01T09:00:00+09:00'
                      code: '1'
                      name: 出勤
                      divisionName: 正社員
                      divisionCode: '1000'
  /daily-workings/timerecord/:
    get:
      operationId: GetDailyWorkingTimerecords
      parameters:
        - $ref: '#/components/parameters/employeeKeys'
        - $ref: '#/components/parameters/division'
        - $ref: '#/components/parameters/ondivision'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/end'
        - $ref: '#/components/parameters/additionalFields_daily-workings'
      tags:
        - Attendance
      description: 日別打刻データの一覧を取得する。 従業員を指定した場合、対象従業員の日別打刻データを取得する。
      externalDocs:
        description: 一覧
        url: 'https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0-%E6%97%A5%E5%88%A5%E6%89%93%E5%88%BB%E3%83%87%E3%83%BC%E3%82%BF-get'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetDailyWorkingTimerecords'
                example:
                  - date: '2016-05-01'
                    dailyWorkings:
                      - date: '2016-05-01'
                        employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
                        currentDateEmployee:
                          divisionCode: '1000'
                          divisionName: 本社
                          gender: male
                          typeCode: '1'
                          typeName: 正社員
                          code: '1000'
                          lastName: 勤怠
                          firstName: 太郎
                          lastNamePhonetics: キンタイ
                          firstNamePhonetics: タロウ
                          employeeGroups:
                            - code: '0001'
                              name: 人事部
                            - code: '0002'
                              name: 総務部
                        timeRecord:
                          - time: '2016-05-01T09:00:00+09:00'
                            code: '1'
                            name: 出勤
                            divisionCode: '1000'
                            divisionName: 本社
                            latitude: 35.6672237
                            longitude: 139.7422207
                          - time: '2015-05-01T18:00:00+09:00'
                            code: '2'
                            name: 退勤
                            divisionCode: '1000'
                            divisionName: 本社
                            credentialCode: 300
                            credentialName: KOTSL
                            latitude: 35.6672237
                            longitude: 139.7422207
                          - time: '2016-05-01T10:00:00+09:00'
                            code: '3'
                            name: 休憩開始
                            divisionCode: '1000'
                            divisionName: 本社
                          - time: '2016-05-01T11:00:00+09:00'
                            code: '4'
                            name: 休憩終了
                            divisionCode: '1000'
                            divisionName: 本社
  '/daily-workings/timerecord/{date}':
    get:
      operationId: GetDailyWorkingTimerecord
      summary: '/daily-workings/timerecord/{date}{?division,ondivision,additionalFields}'
      parameters:
        - $ref: '#/components/parameters/date_required'
        - $ref: '#/components/parameters/division'
        - $ref: '#/components/parameters/ondivision'
        - $ref: '#/components/parameters/additionalFields_daily-workings'
      tags:
        - Attendance
      description: 指定した年月日の日別打刻データを取得する。
      externalDocs:
        description: 年月日指定
        url: 'https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0-%E6%97%A5%E5%88%A5%E6%89%93%E5%88%BB%E3%83%87%E3%83%BC%E3%82%BF-get-1'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                required:
                  - date
                  - dailyWorkings
                properties:
                  date:
                    type: string
                    format: date
                  dailyWorkings:
                    type: array
                    items:
                      $ref: '#/components/schemas/daily_working_timerecord'
                example:
                  date: '2016-05-01'
                  dailyWorkings:
                    - date: '2016-05-01'
                      employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
                      currentDateEmployee:
                        divisionCode: '1000'
                        divisionName: 本社
                        gender: male
                        typeCode: '1'
                        typeName: 正社員
                        code: '1000'
                        lastName: 勤怠
                        firstName: 太郎
                        lastNamePhonetics: キンタイ
                        firstNamePhonetics: タロウ
                        employeeGroups:
                          - code: '0001'
                            name: 人事部
                          - code: '0002'
                            name: 総務部
                      timeRecord:
                        - time: '2016-05-01T09:00:00+09:00'
                          code: '1'
                          name: 出勤
                          divisionCode: '1000'
                          divisionName: 本社
                          latitude: 35.6672237
                          longitude: 139.7422207
                        - time: '2015-05-01T18:00:00+09:00'
                          code: '2'
                          name: 退勤
                          divisionCode: '1000'
                          divisionName: 本社
                          credentialCode: 300
                          credentialName: KOTSL
                          latitude: 35.6672237
                          longitude: 139.7422207
                        - time: '2016-05-01T10:00:00+09:00'
                          code: '3'
                          name: 休憩開始
                          divisionCode: '1000'
                          divisionName: 本社
                        - time: '2016-05-01T11:00:00+09:00'
                          code: '4'
                          name: 休憩終了
                          divisionCode: '1000'
                          divisionName: 本社
  '/requests/schedules/{date}':
    get:
      operationId: GetSchedules
      summary: '/requests/schedules/{date}{?administratorKey,additionalFields}'
      parameters:
        - name: date
          in: path
          required: true
          description: |-
            詳細を取得したい年月
            ・過去日は最大3年前まで
            ・未来日は最大1年後まで
          schema:
            type: string
            pattern: '\d{4}-(0[1-9]|1[0-2])'
            example: 2018-08
        - name: administratorKey
          in: query
          description: 管理者識別キー（管理者コードが変更されても不変）
          schema:
            type: string
            example: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe273526fac222
        - name: additionalFields
          in: query
          description: 指定されたプロパティをレスポンスに追加
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - schedulePatternCode
                - schedulePatternName
                - workFixedStart
                - workFixedEnd
                - note
                - flow
            example: flow
      tags:
        - Request
      description: |-
        指定した年月のスケジュール申請データを取得する。
        ※対象企業がスケジュール申請を利用できない場合にはエラーとなります。
      externalDocs:
        description: 年月指定
        url: 'https://developer.kingtime.jp/#%E7%94%B3%E8%AB%8B-%E3%82%B9%E3%82%B1%E3%82%B8%E3%83%A5%E3%83%BC%E3%83%AB%E7%94%B3%E8%AB%8B%E3%83%87%E3%83%BC%E3%82%BF-get'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSchedules'
                example:
                  year: 2018
                  month: 8
                  scheduleRequests:
                    - date: '2018-08-01'
                      requestedDate: '2018-08-10'
                      employeeKey: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe2735215201
                      requestKey: 59d25f49d4dce8b6e6658cc6b5c3b89b34c617916f90f6e27e9a9fa6cca576a4
                      applicant:
                        type: employee
                        key: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe2735215201
                      status: applying
                      currentFlow: 2
                      flow:
                        - level: 1
                          administratorKeys:
                            - c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe273526fac6ff
                        - level: 2
                          administratorKeys:
                            - c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe273526fac222
                        - level: 3
                          administratorKeys:
                            - c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe273526fac111
                      message: 申請いたします
                      adminComment: 第1承認者承認済
                      lastModifiedAdministratorKey: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe273526fac6ff
                      requested:
                        clockInSchedule: '2018-08-01T09:00+09:00'
                        clockOutSchedule: '2018-08-01T18:00+09:00'
                        breakSchedule: 60
                        startEndBreakSchedule:
                          - start: '2018-08-01T11:00+09:00'
                            end: '2018-08-01T12:00+09:00'
                        workDayTypeName: 平日
                        holidaysObtained:
                          fulltimeHoliday:
                            code: 1
                            name: 有休
                          halfdayHolidays:
                            - typeName: PM休
                              code: 1
                              name: 有休
                          hourHolidays:
                            - start: '2018-08-01T10:00+09:00'
                              end: '2018-08-01T11:00+09:00'
                              minutes: 60
                              code: 1
                              name: 有休
                        workPlaceDivisionCode: '1000'
                        workPlaceDivisionName: 本社
                        substitutionClockInName: 振休
                        scheduleTypeName: 通常勤務
                      current:
                        clockInSchedule: '2018-08-01T10:00+09:00'
                        clockOutSchedule: '2018-08-01T20:00+09:00'
                        breakSchedule: 60
                        startEndBreakSchedule:
                          - start: '2018-08-01T11:00+09:00'
                            end: '2018-08-01T12:00+09:00'
                        workDayTypeName: 平日
                        holidaysObtained:
                          fulltimeHoliday:
                            code: 1
                            name: 有休
                          halfdayHolidays:
                            - typeName: PM休
                              code: 1
                              name: 有休
                          hourHolidays:
                            - start: '2018-08-01T10:00+09:00'
                              end: '2018-08-01T11:00+09:00'
                              minutes: 60
                              code: 1
                              name: 有休
                        overtimeUpperLimit: 120
                        workPlaceDivisionCode: '1000'
                        workPlaceDivisionName: 本社
                        substitutionClockInName: 振休
                        scheduleTypeName: シフト
  '/requests/overtimes/{date}':
    get:
      operationId: GetOvertimes
      summary: '/requests/overtimes/{date}{?administratorKey,additionalFields}'
      parameters:
        - name: date
          in: path
          required: true
          description: |-
            詳細を取得したい年月
            ・過去日は最大3年前まで
            ・未来日は最大1年後まで
          schema:
            type: string
            pattern: '\d{4}-(0[1-9]|1[0-2])'
            example: 2018-08
        - name: administratorKey
          in: query
          description: 管理者識別キー（管理者コードが変更されても不変）
          schema:
            type: string
            example: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe273526fac222
        - name: additionalFields
          in: query
          description: 指定されたプロパティをレスポンスに追加
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - schedulePatternCode
                - schedulePatternName
                - workFixedStart
                - workFixedEnd
                - note
                - flow
            example: flow
      tags:
        - Request
      description: |-
        指定した年月の時間外勤務申請データを取得する。
        ※対象企業が時間外勤務申請を利用できない場合にはエラーとなります。
      externalDocs:
        description: 年月指定
        url: 'https://developer.kingtime.jp/#%E7%94%B3%E8%AB%8B-%E6%99%82%E9%96%93%E5%A4%96%E5%8B%A4%E5%8B%99%E7%94%B3%E8%AB%8B%E3%83%87%E3%83%BC%E3%82%BF-get'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOvertimes'
                example:
                  year: 2018
                  month: 8
                  overtimeRequests:
                    - date: '2018-08-01'
                      requestedDate: '2018-08-10'
                      employeeKey: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe2735215201
                      requestKey: 59d25f49d4dce8b6e6658cc6b5c3b89b34c617916f90f6e27e9a9fa6cca576a4
                      applicant:
                        type: employee
                        key: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe2735215201
                      status: applying
                      currentFlow: 2
                      flow:
                        - level: 1
                          administratorKeys:
                            - c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe273526fac6ff
                        - level: 2
                          administratorKeys:
                            - c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe273526fac222
                        - level: 3
                          administratorKeys:
                            - c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe273526fac111
                      message: 申請いたします
                      adminComment: 第1承認者承認済
                      lastModifiedAdministratorKey: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe273526fac6ff
                      requested:
                        isBeforeSchedule: true
                        start: '2018-08-01T08:00+09:00'
                        end: '2018-08-01T10:00+09:00'
                      current:
                        isBeforeSchedule: true
                        start: '2018-08-01T09:00+09:00'
                        end: '2018-08-01T10:00+09:00'
components:
  parameters:
    token:
      name: token
      in: path
      description: 処理対象のトークン
      required: true
      schema:
        type: string
        example: 8j9f7v4893y58rvt7nyfq2893n75tr78937n83
    additionalFields_administrator:
      name: additionalFields
      in: query
      description: 指定されたプロパティをレスポンスに追加
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
            - emailAddresses
            - associatedEmployees
        example:
          - associatedEmployees
    additionalFields_employee:
      name: additionalFields
      in: query
      description: 指定されたプロパティをレスポンスに追加
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
            - lastNamePhonetics
            - firstNamePhonetics
            - hiredDate
            - birthDate
            - resignationDate
            - emailAddresses
            - allDayRegardingWorkInMinute
        example:
          - emailAddresses
    date:
      name: date
      in: query
      description: |-
        指定された年月日時点での従業員のデータを表示
        ・過去日は最大3年前まで
        ・未来日は最大1年後まで
      schema:
        type: string
        format: date
        description: defaultは当日
        example: 2016-10-10T00:00:00.000Z
    division:
      name: division
      in: query
      description: 所属コード
      schema:
        type: string
        example: 1000
    includeResigner:
      name: includeResigner
      in: query
      description: 指定された年月日時点で退職済みの従業員を含む場合 True
      schema:
        type: boolean
        example: true
        default: false
    employeeCode:
      name: employeeCode
      in: path
      description: 詳細を取得したい従業員コード
      required: true
      schema:
        type: string
        example: 1000
    employeeKey:
      name: employeeKey
      in: path
      description: 従業員識別キー（従業員コードが変更されても不変）
      required: true
      schema:
        type: string
        example: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
    updateDate:
      name: updateDate
      in: query
      description: 所属、雇用区分を更新したい年月日
      schema:
        type: string
        format: date
        description: defaultは当日
        example: 2016-05-01T00:00:00.000Z
    additionalFields_employee-groups:
      name: additionalFields
      in: query
      description: 指定されたプロパティをレスポンスに追加
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
            - category
        example:
          - category
    ondivision:
      name: ondivision
      in: query
      description: |-
        ・true:所属に基づいた勤務データ
        ・false:出勤先に基づいた勤務データ
        ・divisionが指定されている場合のみ使用可能
      schema:
        type: boolean
        example: true
        default: true
    start:
      name: start
      in: query
      description: |-
        取得したい期間の開始年月日
        ・過去日は最大3年前まで
      schema:
        type: string
        format: date
        description: defaultは当日
        example: 2016-05-01T00:00:00.000Z
    end:
      name: end
      in: query
      description: |-
        取得したい期間の終了年月日
        ・startとendは同時に指定
        ・期間は最大62日
        ・未来日は最大1年後まで
      schema:
        type: string
        format: date
        description: defaultは当日
        example: 2016-05-01T00:00:00.000Z
    additionalFields_daily-workings:
      name: additionalFields
      in: query
      description: 指定されたプロパティをレスポンスに追加
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
            - currentDateEmployee
        example:
          - currentDateEmployee
    date_required:
      name: date
      in: path
      description: |-
        詳細を取得したい年月日
        ・過去日は最大3年前まで
        ・未来日は最大1年後まで
      required: true
      schema:
        type: string
        format: date
        description: defaultは当日
        example: 2016-10-10T00:00:00.000Z
    employeeKeys:
      name: employeeKeys
      in: query
      description: |-
        従業員識別キー（従業員コードが変更されても不変）
        ,区切りで複数従業員の指定可能
        divisionが指定されていない場合のみ使用可能
      explode: false
      schema:
        type: array
        items:
          type: string
        example:
          - 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
  schemas:
    employee_request:
      type: object
      required:
        - divisionCode
        - gender
        - typeCode
        - code
        - lastName
        - firstName
      properties:
        divisionCode:
          type: string
          description: 所属コード
        gender:
          type: string
          enum:
            - male
            - female
          description: 性別（male： 男性　female： 女性）
        typeCode:
          type: string
          description: 雇用区分コード
        code:
          type: string
          description: 従業員コード
        lastName:
          type: string
          description: 姓
        firstName:
          type: string
          description: 名
        lastNamePhonetics:
          type: string
          description: 姓（カナ）
        firstNamePhonetics:
          type: string
          description: 名（カナ）
        hiredDate:
          type: string
          format: date
          description: 入社年月日
        birthDate:
          type: string
          format: date
          description: 生年月日
        resignationDate:
          type: string
          format: date
          description: 退職年月日
        emailAddresses:
          type: array
          description: メールアドレス
          items:
            type: string
            format: email
        allDayRegardingWorkInMinute:
          type: integer
          description: 日の契約労働時間
          example: 480
    employee_group:
      type: object
      required:
        - code
        - name
      properties:
        code:
          type: string
          description: 従業員グループコード
        name:
          type: string
          description: 従業員グループ名
    division_response:
      type: object
      required:
        - code
        - name
        - dayBorderTime
      properties:
        code:
          type: string
          description: 所属コード
        name:
          type: string
          description: 所属名
        dayBorderTime:
          type: string
          pattern: '^(?:[01][0-9]|2[0-3]):[0-5][0-9]$'
          description: 所属名
    working_type_response:
      type: object
      required:
        - code
        - name
        - dayBorderTime
      properties:
        code:
          type: string
          description: 雇用区分コード
        name:
          type: string
          description: 雇用区分名
    daily_working_response:
      type: object
      required:
        - date
        - employeeKey
        - workPlaceDivisionCode
        - isClosing
        - isHelp
        - isError
        - workdayTypeName
        - assigned
        - unassigned
        - overtime
        - lateNight
        - lateNightUnassigned
        - lateNightOvertime
        - breakTime
        - late
        - earlyLeave
        - totalWork
        - holidaysObtained
        - autoBreakOff
        - discretionaryVacation
        - customDailyWorkings
      properties:
        date:
          description: 日時
          type: string
          format: date
        employeeKey:
          description: 従業員識別キー（従業員コードが変更されても不変）
          type: string
        workPlaceDivisionCode:
          description: 出勤先所属コード
          type: string
        workPlaceDivisionName:
          description: 出勤先所属名
          type: string
        isClosing:
          description: 締め状況
          type: boolean
        isHelp:
          description: ヘルプ勤務状況
          type: boolean
        isError:
          description: エラー勤務状況
          type: boolean
        workdayTypeName:
          description: 勤務日種別名
          type: string
        assigned:
          description: 所定時間（分）
          type: integer
        unassigned:
          description: 所定外時間（分）
          type: integer
        overtime:
          description: 残業時間（分）
          type: integer
        lateNight:
          description: 深夜時間（分）
          type: integer
        lateNightUnassigned:
          description: 深夜所定外時間（分）
          type: integer
        lateNightOvertime:
          description: 深夜残業時間（分）
          type: integer
        breakTime:
          description: 休憩時間（分）
          type: integer
        late:
          description: 遅刻時間（分）
          type: integer
        earlyLeave:
          description: 早退時間（分）
          type: integer
        totalWork:
          description: 労働合計時間（分）
          type: integer
        holidaysObtained:
          description: 休暇取得
          type: object
          required:
            - fulltimeHoliday
            - halfdayHolidays
            - hourHolidays
          properties:
            fulltimeHoliday:
              type: object
              required:
                - code
                - name
              properties:
                code:
                  type: integer
                  description: 休暇区分コード
                name:
                  type: string
                  description: 休暇区分名
            halfdayHolidays:
              type: object
              required:
                - typeName
                - code
                - name
              properties:
                typeName:
                  type: string
                  description: 半休種別名
                code:
                  type: integer
                  description: 休暇区分コード
                name:
                  type: string
                  description: 休暇区分名
            hourHolidays:
              type: object
              required:
                - start
                - end
                - minutes
                - code
                - name
              properties:
                start:
                  type: string
                  format: date-time
                  description: 休暇開始時間
                end:
                  type: string
                  format: date-time
                  description: 休暇終了時間
                minutes:
                  type: integer
                  description: 休暇取得時間
                code:
                  type: integer
                  description: 休暇区分コード
                name:
                  type: string
                  description: 休暇区分名
        autoBreakOff:
          type: integer
          enum:
            - 1
            - 2
            - 3
          description: 自動休憩無効（null： 休憩を無効化しない 1：　雇用区分休憩無効　2： スケジュール休憩無効　3： 全ての自動休憩無効）
        discretionaryVacation:
          type: integer
          description: 休暇みなし時間（分）
        customDailyWorkings:
          type: object
          required:
            - code
            - name
            - calculationUnitCode
            - calculationResult
          properties:
            code:
              type: string
              description: 日別カスタム表示コード
            name:
              type: string
              description: 日別カスタム表示名
            calculationUnitCode:
              type: integer
              enum:
                - 1
                - 2
                - 4
              description: 計算単位コード（1： 日数　2： 時間　4： 数値）
            calculationResult:
              type: integer
              description: 計算結果
        currentDateEmployee:
          type: object
          description: 今日時点の従業員データ
          required:
            - divisionCode
            - divisionName
            - gender
            - typeCode
            - typeName
            - code
            - lastName
            - firstName
            - lastNamePhonetics
            - firstNamePhonetics
            - employeeGroups
          properties:
            divisionCode:
              type: string
              description: 所属コード
            divisionName:
              type: string
              description: 所属名
            gender:
              type: string
              enum:
                - no_selected
                - male
                - female
              description: 性別（no_selected： 選択しない　male： 男性　female： 女性）
            typeCode:
              type: string
              description: 雇用区分コード
            typeName:
              type: string
              description: 雇用区分名
            code:
              type: string
              description: 従業員コード
            lastName:
              type: string
              description: 姓
            firstName:
              type: string
              description: 名
            lastNamePhonetics:
              type: string
              description: 姓（カナ）
            firstNamePhonetics:
              type: string
              description: 名（カナ）
            employeeGroups:
              type: array
              description: 従業員グループ情報
              items:
                type: object
                required:
                  - code
                  - name
                properties:
                  code:
                    type: string
                    description: 従業員グループコード
                  name:
                    type: string
                    description: 従業員グループ名
    daily_working_timerecord_request:
      type: object
      required:
        - time
        - date
      properties:
        time:
          type: string
          format: date-time
          description: 打刻時間
        code:
          type: string
          enum:
            - '1'
            - '2'
            - '3'
            - '4'
            - '7'
            - '8'
          description: |-
            打刻種別コード（1： 出勤　2： 退勤　3： 休憩開始　4： 休憩終了　7： 外出入　8： 外出戻）
            省略時は、KING OF TIMEの処理に従って打刻種別を決定します。
        divisionCode:
          type: string
          description: |-
            打刻先所属コード
            省略時は、該当従業員が所属している所属を打刻先所属として扱います。
        date:
          type: string
          format: date
          description: |-
            勤務日
            指定された勤務日に打刻データが紐づきます。
        latitude:
          type: number
          format: double
          description: 緯度
        longitude:
          type: number
          format: double
          description: 経度
    daily_working_timerecord:
      type: object
      description: 打刻
      required:
        - time
        - code
        - name
        - divisionCode
        - divisionName
        - latitude
        - longitude
      properties:
        time:
          type: string
          format: date-time
          description: 打刻時間
        code:
          type: string
          description: 打刻種別コード
          enum:
            - '1'
            - '2'
            - '3'
            - '4'
            - '7'
            - '8'
        name:
          type: string
          description: 打刻種別名
        divisionCode:
          type: string
          description: 打刻所属コード
        divisionName:
          type: string
          description: 打刻所属名
        latitude:
          type: number
          format: double
          description: 緯度
        longitude:
          type: number
          format: double
          description: 経度
    RefreshAccessToken:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: refreshed access token
          example: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    GetAccessTokenAvailability:
      type: object
      required:
        - available
      properties:
        available:
          type: boolean
    GetCompany:
      type: object
      required:
        - key
        - code
        - name
        - host
        - businessYearStartDate
        - settings
      properties:
        key:
          type: string
          description: 企業識別キー
        code:
          type: string
          description: 企業コード
        name:
          type: string
          description: 企業名
        host:
          type: string
          description: ホスト名
        businessYearStartDate:
          type: string
          description: 事業年度開始日
        settings:
          $ref: '#/components/schemas/GetCompanySettings'
      example:
        key: 1qazxsw23edc....
        code: cmp
        name: 企業名
        host: s2.kingtime.jp
        businessYearStartDate: 04/01
        settings:
          timeDisplayFormat: decimal
          decimalTreatType: roundUp
    GetCompanySettings:
      type: object
      description: 企業設定情報
      required:
        - timeDisplayFormat
        - decimalTreatType
      properties:
        timeDisplayFormat:
          type: string
          enum:
            - decimal
            - sexagesimal
          description: 表示形式（decimal： 10進法　sexagesimal： 60進法）
        decimalTreatType:
          type: string
          enum:
            - roundDown
            - roundUp
            - round
          description: 10進表示の小数第3位の扱い（roundDown： 切下げ　roundUp： 切上げ　round： 四捨五入）
    GetAdministrators:
      type: array
      items:
        $ref: '#/components/schemas/GetAdministrators_item'
      example:
        - code: admin
          key: 4888a97dd7bbc6a26a18743f4697a1de4b38b6ee646a9620b286499c3df6918c
          name: 全権管理者
        - code: '2000'
          key: 6713cd21ca98689efec9fe27352152c4c77a34b32f5de30b6335d141ad714baf
          name: エリアマネージャー
          associatedEmployees:
            - code: '1000'
              key: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
              lastName: 勤怠
              firstName: 太郎
            - code: '2000'
              key: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe27352152c4
              lastName: 勤怠
              firstName: 花子
    GetAdministrators_item:
      type: object
      required:
        - code
        - key
        - name
      properties:
        code:
          type: string
          description: 管理者コード
        key:
          type: string
          description: 管理者識別キー（管理者コードが変更されても不変）
        name:
          type: string
          description: 管理者名
        emailAddresses:
          type: string
          format: email
          description: メールアドレス
        associatedEmployees:
          type: array
          items:
            $ref: '#/components/schemas/GetAdministrators_associatedEmployee'
    GetAdministrators_associatedEmployee:
      type: object
      description: 割当従業員
      required:
        - code
        - key
        - lastName
        - firstName
      properties:
        code:
          type: string
          description: 従業員コード
        key:
          type: string
          description: 従業員識別キー（従業員コードが変更されても不変）
        lastName:
          type: string
          description: 姓
        firstName:
          type: string
          description: 名
    GetEmployees:
      type: array
      items:
        $ref: '#/components/schemas/GetEmployees_item'
      example:
        - divisionCode: '1000'
          divisionName: 本社
          gender: male
          typeCode: '1'
          typeName: 正社員
          code: '1000'
          lastName: 勤怠
          firstName: 太郎
          key: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
          emailAddresses:
            - kintaitarou@h-t.co.jp
          employeeGroups:
            - code: '0001'
              name: 人事部
            - code: '0002'
              name: 総務部
        - divisionCode: '1000'
          divisionName: 本社
          gender: female
          typeCode: '1'
          typeName: 正社員
          code: '2000'
          lastName: 勤怠
          firstName: 花子
          key: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe27352152c4
          emailAddresses:
            - kintaihanako@h-t.co.jp
          employeeGroups:
            - code: '0003'
              name: 営業部
    GetEmployees_item:
      type: object
      required:
        - divisionCode
        - divisionName
        - gender
        - typeCode
        - typeName
        - code
        - key
        - lastName
        - firstName
        - employeeGroups
      properties:
        divisionCode:
          type: string
          description: 所属コード
        divisionName:
          type: string
          description: 所属名
        gender:
          type: string
          enum:
            - male
            - female
          description: 性別（male： 男性　female： 女性）
        typeCode:
          type: string
          description: 雇用区分コード
        typeName:
          type: string
          description: 雇用区分名
        code:
          type: string
          description: 従業員コード
        key:
          type: string
          description: 従業員識別キー（従業員コードが変更されても不変）
        lastName:
          type: string
          description: 姓
        firstName:
          type: string
          description: 名
        employeeGroups:
          type: array
          description: 従業員グループ情報
          items:
            $ref: '#/components/schemas/employee_group'
        lastNamePhonetics:
          type: string
          description: 姓（カナ）
        firstNamePhonetics:
          type: string
          description: 名（カナ）
        hiredDate:
          type: string
          format: date
          description: 入社年月日
        birthDate:
          type: string
          format: date
          description: 生年月日
        resignationDate:
          type: string
          format: date
          description: 退職年月日
        emailAddresses:
          type: array
          description: メールアドレス
          items:
            type: string
            format: email
        allDayRegardingWorkInMinute:
          type: integer
          description: 日の契約労働時間
          example: 480
    RegisterEmployee:
      type: object
      required:
        - divisionCode
        - divisionName
        - gender
        - typeCode
        - typeName
        - code
        - key
        - lastName
        - firstName
        - employeeGroups
      properties:
        divisionCode:
          type: string
          description: 所属コード
        divisionName:
          type: string
          description: 所属名
        gender:
          type: string
          enum:
            - male
            - female
          description: 性別（male： 男性　female： 女性）
        typeCode:
          type: string
          description: 雇用区分コード
        typeName:
          type: string
          description: 雇用区分名
        code:
          type: string
          description: 従業員コード
        key:
          type: string
          description: 従業員識別キー（従業員コードが変更されても不変）
        lastName:
          type: string
          description: 姓
        firstName:
          type: string
          description: 名
        employeeGroups:
          type: array
          description: 従業員グループ情報
          items:
            $ref: '#/components/schemas/employee_group'
        lastNamePhonetics:
          type: string
          description: 姓（カナ）
        firstNamePhonetics:
          type: string
          description: 名（カナ）
        hiredDate:
          type: string
          format: date
          description: 入社年月日
        birthDate:
          type: string
          format: date
          description: 生年月日
        resignationDate:
          type: string
          format: date
          description: 退職年月日
        emailAddresses:
          type: array
          description: メールアドレス
          items:
            type: string
            format: email
        allDayRegardingWorkInMinute:
          type: integer
          description: 日の契約労働時間
          example: 480
      example:
        divisionCode: '1000'
        gender: male
        typeCode: '1'
        code: '1000'
        lastName: 勤怠
        firstName: 太郎
        key: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe27352152c4
        emailAddresses:
          - kintaitarou@h-t.co.jp
    UpdateEmployee:
      type: object
      required:
        - divisionCode
        - divisionName
        - gender
        - typeCode
        - typeName
        - code
        - key
        - lastName
        - firstName
        - employeeGroups
      properties:
        divisionCode:
          type: string
          description: 所属コード
        divisionName:
          type: string
          description: 所属名
        gender:
          type: string
          enum:
            - male
            - female
          description: 性別（male： 男性　female： 女性）
        typeCode:
          type: string
          description: 雇用区分コード
        typeName:
          type: string
          description: 雇用区分名
        code:
          type: string
          description: 従業員コード
        key:
          type: string
          description: 従業員識別キー（従業員コードが変更されても不変）
        lastName:
          type: string
          description: 姓
        firstName:
          type: string
          description: 名
        employeeGroups:
          type: array
          description: 従業員グループ情報
          items:
            type: object
            required:
              - code
              - name
            properties:
              code:
                type: string
                description: 従業員グループコード
              name:
                type: string
                description: 従業員グループ名
        lastNamePhonetics:
          type: string
          description: 姓（カナ）
        firstNamePhonetics:
          type: string
          description: 名（カナ）
        hiredDate:
          type: string
          format: date
          description: 入社年月日
        birthDate:
          type: string
          format: date
          description: 生年月日
        resignationDate:
          type: string
          format: date
          description: 退職年月日
        emailAddresses:
          type: array
          description: メールアドレス
          items:
            type: string
            format: email
        allDayRegardingWorkInMinute:
          type: integer
          description: 日の契約労働時間
          example: 480
      example:
        divisionCode: '1000'
        divisionName: 本社
        gender: male
        typeCode: '1'
        typeName: 正社員
        code: '1000'
        lastName: 勤怠
        firstName: 太郎
        key: c77a34b32f5de30b6335d141ad714baf6713cd21ca98689efec9fe27352152c4
        lastNamePhonetics: キンタイ
        firstNamePhonetics: タロウ
        birthDate: '1990-09-01'
        hiredDate: '2013-04-01'
        resignationDate: '2017-12-12'
        emailAddresses:
          - kintaitarou@h-t.co.jp
        allDayRegardingWorkInMinute: 480
    GetEmployee:
      type: object
      required:
        - divisionCode
        - divisionName
        - gender
        - typeCode
        - typeName
        - code
        - key
        - lastName
        - firstName
        - employeeGroups
      properties:
        divisionCode:
          type: string
          description: 所属コード
        divisionName:
          type: string
          description: 所属名
        gender:
          type: string
          enum:
            - male
            - female
          description: 性別（male： 男性　female： 女性）
        typeCode:
          type: string
          description: 雇用区分コード
        typeName:
          type: string
          description: 雇用区分名
        code:
          type: string
          description: 従業員コード
        key:
          type: string
          description: 従業員識別キー（従業員コードが変更されても不変）
        lastName:
          type: string
          description: 姓
        firstName:
          type: string
          description: 名
        employeeGroups:
          type: array
          description: 従業員グループ情報
          items:
            $ref: '#/components/schemas/employee_group'
        lastNamePhonetics:
          type: string
          description: 姓（カナ）
        firstNamePhonetics:
          type: string
          description: 名（カナ）
        hiredDate:
          type: string
          format: date
          description: 入社年月日
        birthDate:
          type: string
          format: date
          description: 生年月日
        resignationDate:
          type: string
          format: date
          description: 退職年月日
        emailAddresses:
          type: array
          description: メールアドレス
          items:
            type: string
            format: email
        allDayRegardingWorkInMinute:
          type: integer
          description: 日の契約労働時間
          example: 480
      example:
        divisionCode: '1000'
        divisionName: 本社
        gender: male
        typeCode: '1'
        typeName: 正社員
        code: '1000'
        lastName: 勤怠
        firstName: 太郎
        key: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
        emailAddresses:
          - kintaitarou@h-t.co.jp
        employeeGroups:
          - code: '0001'
            name: 人事部
          - code: '0002'
            name: 総務部
    GetDivisions:
      type: array
      items:
        $ref: '#/components/schemas/division_response'
      example:
        - code: '1000'
          name: 本社
          dayBorderTime: '00:00'
        - code: '2000'
          name: 支社
          dayBorderTime: '05:00'
    GetWorkingTypes:
      type: array
      items:
        $ref: '#/components/schemas/working_type_response'
      example:
        - code: '1'
          name: 正社員
    GetEmployeeGroups:
      type: array
      items:
        $ref: '#/components/schemas/GetEmployeeGroups_item'
      example:
        - code: '0001'
          name: 人事部
          category:
            code: KEIKAN
            name: 経営管理本部
    GetEmployeeGroups_item:
      type: object
      required:
        - code
        - name
      properties:
        code:
          type: string
          description: 従業員グループコード
        name:
          type: string
          description: 従業員グループ名
        category:
          $ref: '#/components/schemas/GetEmployeeGroups_item_category'
    GetEmployeeGroups_item_category:
      type: object
      description: 従業員グループカテゴリ
      required:
        - code
        - name
      properties:
        code:
          type: string
          description: 従業員グループカテゴリコード
        name:
          type: string
          description: 従業員グループカテゴリ名
    GetDailyWorkings:
      type: array
      items:
        $ref: '#/components/schemas/daily_working_response'
      example:
        - date: '2016-05-01'
          dailyWorkings:
            - date: '2016-05-01'
              employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
              currentDateEmployee:
                divisionCode: '1000'
                divisionName: 本社
                gender: male
                typeCode: '1'
                typeName: 正社員
                code: '1000'
                lastName: 勤怠
                firstName: 太郎
                lastNamePhonetics: キンタイ
                firstNamePhonetics: タロウ
                employeeGroups:
                  - code: '0001'
                    name: 人事部
                  - code: '0002'
                    name: 総務部
              workPlaceDivisionCode: '1000'
              workPlaceDivisionName: 本社
              isClosing: true
              isHelp: false
              isError: false
              workdayTypeName: 平日
              assigned: 480
              unassigned: 135
              overtime: 135
              lateNight: 0
              lateNightUnassigned: 0
              lateNightOvertime: 0
              breakTime: 60
              late: 0
              earlyLeave: 0
              totalWork: 615
              holidaysObtained:
                fulltimeHoliday:
                  code: 1
                  name: 有休
                halfdayHolidays:
                  - typeName: PM休
                    code: 1
                    name: 有休
                hourHolidays:
                  - start: '2016-05-01T10:00:00+09:00'
                    end: '2016-05-01T11:00:00+09:00'
                    minutes: 60
                    code: 1
                    name: 有休
              autoBreakOff: 1
              discretionaryVacation: 0
              customDailyWorkings:
                - code: dCus1
                  name: 日別カスタム1
                  calculationUnitCode: 1
                  calculationResult: 1
                - code: dCus2
                  name: 日別カスタム2
                  calculationUnitCode: 2
                  calculationResult: 10
                - code: dCus3
                  name: 日別カスタム3
                  calculationUnitCode: 4
                  calculationResult: 100
    GetDailyWorking:
      example:
        date: '2016-05-01'
        dailyWorkings:
          - date: '2016-05-01'
            employeeKey: 8b6ee646a9620b286499c3df6918c4888a97dd7bbc6a26a18743f4697a1de4b3
            currentDateEmployee:
              divisionCode: '1000'
              divisionName: 本社
              gender: male
              typeCode: '1'
              typeName: 正社員
              code: '1000'
              lastName: 勤怠
              firstName: 太郎
              lastNamePhonetics: キンタイ
              firstNamePhonetics: タロウ
              employeeGroups:
                - code: '0001'
                  name: 人事部
                - code: '0002'
                  name: 総務部
            workPlaceDivisionCode: '1000'
            workPlaceDivisionName: 本社
            isClosing: true
            isHelp: false
            isError: false
            workdayTypeName: 平日
            assigned: 480
            unassigned: 135
            overtime: 135
            lateNight: 0
            lateNightUnassigned: 0
            lateNightOvertime: 0
            breakTime: 60
            late: 0
            earlyLeave: 0
            totalWork: 615
            holidaysObtained:
              fulltimeHoliday:
                code: 1
                name: 有休
              halfdayHolidays:
                - typeName: PM休
                  code: 1
                  name: 有休
              hourHolidays:
                - start: '2016-05-01T10:00:00+09:00'
                  end: '2016-05-01T11:00:00+09:00'
                  minutes: 60
                  code: 1
                  name: 有休
            autoBreakOff: 1
            discretionaryVacation: 0
            customDailyWorkings:
              - code: dCus1
                name: 日別カスタム1
                calculationUnitCode: 1
                calculationResult: 1
              - code: dCus2
                name: 日別カスタム2
                calculationUnitCode: 2
                calculationResult: 10
              - code: dCus3
                name: 日別カスタム3
                calculationUnitCode: 4
                calculationResult: 100
      type: object
      required:
        - date
        - employeeKey
        - workPlaceDivisionCode
        - isClosing
        - isHelp
        - isError
        - workdayTypeName
        - assigned
        - unassigned
        - overtime
        - lateNight
        - lateNightUnassigned
        - lateNightOvertime
        - breakTime
        - late
        - earlyLeave
        - totalWork
        - holidaysObtained
        - autoBreakOff
        - discretionaryVacation
        - customDailyWorkings
      properties:
        date:
          description: 日時
          type: string
          format: date
        employeeKey:
          description: 従業員識別キー（従業員コードが変更されても不変）
          type: string
        workPlaceDivisionCode:
          description: 出勤先所属コード
          type: string
        workPlaceDivisionName:
          description: 出勤先所属名
          type: string
        isClosing:
          description: 締め状況
          type: boolean
        isHelp:
          description: ヘルプ勤務状況
          type: boolean
        isError:
          description: エラー勤務状況
          type: boolean
        workdayTypeName:
          description: 勤務日種別名
          type: string
        assigned:
          description: 所定時間（分）
          type: integer
        unassigned:
          description: 所定外時間（分）
          type: integer
        overtime:
          description: 残業時間（分）
          type: integer
        lateNight:
          description: 深夜時間（分）
          type: integer
        lateNightUnassigned:
          description: 深夜所定外時間（分）
          type: integer
        lateNightOvertime:
          description: 深夜残業時間（分）
          type: integer
        breakTime:
          description: 休憩時間（分）
          type: integer
        late:
          description: 遅刻時間（分）
          type: integer
        earlyLeave:
          description: 早退時間（分）
          type: integer
        totalWork:
          description: 労働合計時間（分）
          type: integer
        holidaysObtained:
          description: 休暇取得
          type: object
          required:
            - fulltimeHoliday
            - halfdayHolidays
            - hourHolidays
          properties:
            fulltimeHoliday:
              type: object
              required:
                - code
                - name
              properties:
                code:
                  type: integer
                  description: 休暇区分コード
                name:
                  type: string
                  description: 休暇区分名
            halfdayHolidays:
              type: object
              required:
                - typeName
                - code
                - name
              properties:
                typeName:
                  type: string
                  description: 半休種別名
                code:
                  type: integer
                  description: 休暇区分コード
                name:
                  type: string
                  description: 休暇区分名
            hourHolidays:
              type: object
              required:
                - start
                - end
                - minutes
                - code
                - name
              properties:
                start:
                  type: string
                  format: date-time
                  description: 休暇開始時間
                end:
                  type: string
                  format: date-time
                  description: 休暇終了時間
                minutes:
                  type: integer
                  description: 休暇取得時間
                code:
                  type: integer
                  description: 休暇区分コード
                name:
                  type: string
                  description: 休暇区分名
        autoBreakOff:
          type: integer
          enum:
            - 1
            - 2
            - 3
          description: 自動休憩無効（null： 休憩を無効化しない 1：　雇用区分休憩無効　2： スケジュール休憩無効　3： 全ての自動休憩無効）
        discretionaryVacation:
          type: integer
          description: 休暇みなし時間（分）
        customDailyWorkings:
          type: object
          required:
            - code
            - name
            - calculationUnitCode
            - calculationResult
          properties:
            code:
              type: string
              description: 日別カスタム表示コード
            name:
              type: string
              description: 日別カスタム表示名
            calculationUnitCode:
              type: integer
              enum:
                - 1
                - 2
                - 4
              description: 計算単位コード（1： 日数　2： 時間　4： 数値）
            calculationResult:
              type: integer
              description: 計算結果
        currentDateEmployee:
          type: object
          description: 今日時点の従業員データ
          required:
            - divisionCode
            - divisionName
            - gender
            - typeCode
            - typeName
            - code
            - lastName
            - firstName
            - lastNamePhonetics
            - firstNamePhonetics
            - employeeGroups
          properties:
            divisionCode:
              type: string
              description: 所属コード
            divisionName:
              type: string
              description: 所属名
            gender:
              type: string
              enum:
                - no_selected
                - male
                - female
              description: 性別（no_selected： 選択しない　male： 男性　female： 女性）
            typeCode:
              type: string
              description: 雇用区分コード
            typeName:
              type: string
              description: 雇用区分名
            code:
              type: string
              description: 従業員コード
            lastName:
              type: string
              description: 姓
            firstName:
              type: string
              description: 名
            lastNamePhonetics:
              type: string
              description: 姓（カナ）
            firstNamePhonetics:
              type: string
              description: 名（カナ）
            employeeGroups:
              type: array
              description: 従業員グループ情報
              items:
                type: object
                required:
                  - code
                  - name
                properties:
                  code:
                    type: string
                    description: 従業員グループコード
                  name:
                    type: string
                    description: 従業員グループ名
    GetDailyWorkingTimerecords:
      type: object
      required:
        - date
        - employeeKey
        - timeRecord
      properties:
        date:
          type: string
          format: date
          description: 日時
        employeeKey:
          type: string
          description: 従業員識別キー（従業員コードが変更されても不変）
        timeRecord:
          type: array
          description: 打刻
          items:
            $ref: '#/components/schemas/daily_working_timerecord'
        currentDateEmployee:
          type: object
          description: 今日時点の従業員データ
          required:
            - divisionCode
            - divisionName
            - gender
            - typeCode
            - typeName
            - code
            - lastName
            - firstName
            - lastNamePhonetics
            - firstNamePhonetics
            - employeeGroups
          properties:
            divisionCode:
              type: string
              description: 所属コード
            divisionName:
              type: string
              description: 所属名
            gender:
              type: string
              description: 性別（no_selected： 選択しない　male： 男性　female： 女性）
              enum:
                - no_selected
                - male
                - female
            typeCode:
              type: string
              description: 雇用区分コード
            typeName:
              type: string
              description: 雇用区分名
            code:
              type: string
              description: 従業員コード
            lastName:
              type: string
              description: 姓
            firstName:
              type: string
              description: 名
            lastNamePhonetics:
              type: string
              description: 姓（カナ）
            firstNamePhonetics:
              type: string
              description: 名（カナ）
            employeeGroups:
              type: array
              description: 従業員グループ情報
              items:
                type: object
                required:
                  - code
                  - name
                properties:
                  code:
                    type: string
                    description: 従業員グループコード
                  name:
                    type: string
                    description: 従業員グループ名
    GetOvertimes:
      type: object
      required:
        - year
        - month
        - overtimeRequests
      properties:
        year:
          type: integer
        month:
          type: integer
        overtimeRequests:
          type: array
          items:
            type: object
            required:
              - date
              - requestedDate
              - employeeKey
              - requestKey
              - applicant
              - status
              - currentFlow
              - lastModifiedAdministratorKey
              - message
              - adminComment
              - requested
              - current
            properties:
              date:
                type: string
                format: date
                description: 対象日
              requestedDate:
                type: string
                format: date
                description: 申請日
              employeeKey:
                type: string
                description: 従業員識別キー（従業員コードが変更されても不変）
              requestKey:
                type: string
                description: 申請識別キー
              applicant:
                type: object
                description: 申請者
                required:
                  - type
                  - key
                properties:
                  type:
                    type: string
                    description: 種別（employee： 従業員　administrator： 管理者)
                    enum:
                      - employee
                      - administrator
                  key:
                    type: string
                    description: 識別キー（従業員 または 管理者）
              status:
                type: string
                description: 申請ステータス（applying 申請中　rejected： 棄却　approved： 承認）
                enum:
                  - applying
                  - approved
                  - rejected
              currentFlow:
                type: integer
                description: 現在の承認フローレベル（１～５）
                enum:
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
              lastModifiedAdministratorKey:
                type: string
                description: 最終更新管理者識別キー
              message:
                type: string
                description: 申請メッセージ
              adminComment:
                type: string
                description: 管理者コメント
              requested:
                type: object
                description: 申請内容
                required:
                  - isBeforeSchedule
                  - start
                  - end
                properties:
                  isBeforeSchedule:
                    type: boolean
                    description: 勤務予定前の時間外申請か（true 予定前　false： 予定後）
                  start:
                    type: string
                    format: date-time
                    x-go-type: KotDate
                    description: 開始時刻
                  end:
                    type: string
                    format: date-time
                    x-go-type: KotDate
                    description: 終了時刻
              current:
                type: object
                description: 現在のスケジュール
                required:
                  - isBeforeSchedule
                  - start
                  - end
                properties:
                  isBeforeSchedule:
                    type: boolean
                    description: 勤務予定前の時間外申請か（true 予定前　false： 予定後）
                  start:
                    type: string
                    format: date-time
                    x-go-type: KotDate
                    description: 開始時刻
                  end:
                    type: string
                    format: date-time
                    x-go-type: KotDate
                    description: 終了時刻
              flow:
                type: array
                description: 承認フロー
                items:
                  type: object
                  required:
                    - level
                    - administratorKeys
                  properties:
                    level:
                      type: integer
                      description: 承認フローレベル（１～５）
                      enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                    administratorKeys:
                      type: array
                      description: 管理者識別キー（管理者コードが変更されても不変）
                      items:
                        type: string
    GetSchedules:
      type: object
      required:
        - year
        - month
        - scheduleRequests
      properties:
        year:
          type: integer
          format: int32
        month:
          type: integer
          format: int32
        scheduleRequests:
          type: array
          items:
            type: object
            required:
              - date
              - requestedDate
              - employeeKey
              - requestKey
              - applicant
              - status
              - currentFlow
              - lastModifiedAdministratorKey
              - message
              - adminComment
              - requested
              - current
            properties:
              date:
                type: string
                format: date
                description: 対象日
              requestedDate:
                type: string
                format: date
                description: 申請日
              employeeKey:
                type: string
                description: 従業員識別キー（従業員コードが変更されても不変）
              requestKey:
                type: string
                description: 申請識別キー
              applicant:
                type: object
                required:
                  - type
                  - key
                properties:
                  type:
                    type: string
                    description: 種別（employee： 従業員　administrator： 管理者)
                    enum:
                      - employee
                      - administrator
                  key:
                    type: string
                    description: 識別キー（従業員 または 管理者）
              status:
                type: string
                description: 申請ステータス（applying 申請中　rejected： 棄却　approved： 承認）
                enum:
                  - applying
                  - rejected
                  - approved
              currentFlow:
                type: integer
                format: int32
                enum:
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                description: 現在の承認フローレベル（１～５）
              lastModifiedAdministratorKey:
                type: string
                description: 最終更新管理者識別キー
              message:
                type: string
                description: 申請メッセージ
              adminComment:
                type: string
                description: 管理者コメント
              requested:
                type: object
                required:
                  - clockInSchedule
                  - clockOutSchedule
                  - breakSchedule
                  - startEndBreakSchedule
                  - holidaysObtained
                  - workDayTypeName
                  - workPlaceDivisionCode
                  - workPlaceDivisionName
                  - substitutionClockInName
                  - scheduleTypeName
                properties:
                  clockInSchedule:
                    type: string
                    format: date-time
                    x-go-type: KotDate
                    description: 出勤予定時間
                  clockOutSchedule:
                    type: string
                    format: date-time
                    x-go-type: KotDate
                    description: 退勤予定時間
                  breakSchedule:
                    type: integer
                    format: int32
                    description: 休憩予定時間（分）
                  startEndBreakSchedule:
                    type: array
                    description: 休憩開始終了予定
                    items:
                      type: object
                      required:
                        - start
                        - end
                      properties:
                        start:
                          type: string
                          format: date-time
                          x-go-type: KotDate
                          description: 休憩開始予定
                        end:
                          type: string
                          format: date-time
                          x-go-type: KotDate
                          description: 休憩終了予定
                  holidaysObtained:
                    type: object
                    description: 休暇取得
                    required:
                      - fulltimeHoliday
                      - halfdayHolidays
                      - hourHolidays
                    properties:
                      fulltimeHoliday:
                        type: object
                        required:
                          - code
                          - name
                        properties:
                          code:
                            type: integer
                            description: 休暇区分コード
                          name:
                            type: string
                            description: 休暇区分名
                      halfdayHolidays:
                        type: array
                        items:
                          type: object
                          required:
                            - typeName
                            - code
                            - name
                          properties:
                            typeName:
                              type: string
                              description: 半休種別名
                            code:
                              type: integer
                              description: 休暇区分コード
                            name:
                              type: string
                              description: 休暇区分名
                      hourHolidays:
                        type: array
                        items:
                          type: object
                          required:
                            - start
                            - end
                            - minutes
                            - code
                            - name
                          properties:
                            start:
                              type: string
                              format: date-time
                              x-go-type: KotDate
                              description: 休暇開始予定
                            end:
                              type: string
                              format: date-time
                              x-go-type: KotDate
                              description: 休暇終了予定
                            minutes:
                              type: integer
                              format: int32
                              description: 休暇取得時間
                            code:
                              type: integer
                              description: 休暇区分コード
                            name:
                              type: string
                              description: 休暇区分名
                  workDayTypeName:
                    type: string
                    description: 勤務日種別名
                  overtimeUpperLimit:
                    type: integer
                    format: int32
                    description: 残業上限時間（分）
                  workPlaceDivisionCode:
                    type: string
                    description: 出勤先所属コード
                  workPlaceDivisionName:
                    type: string
                    description: 出勤先所属名
                  substitutionClockInName:
                    type: string
                    description: 振替出勤
                  scheduleTypeName:
                    type: string
                    description: スケジュール種別
              current:
                type: object
                required:
                  - clockInSchedule
                  - clockOutSchedule
                  - breakSchedule
                  - startEndBreakSchedule
                  - holidaysObtained
                  - workDayTypeName
                  - workPlaceDivisionCode
                  - workPlaceDivisionName
                  - substitutionClockInName
                  - scheduleTypeName
                properties:
                  clockInSchedule:
                    type: string
                    format: date-time
                    x-go-type: KotDate
                    description: 出勤予定時間
                  clockOutSchedule:
                    type: string
                    format: date-time
                    x-go-type: KotDate
                    description: 退勤予定時間
                  breakSchedule:
                    type: integer
                    format: int32
                    description: 休憩予定時間（分）
                  startEndBreakSchedule:
                    type: array
                    description: 休憩開始終了予定
                    items:
                      type: object
                      required:
                        - start
                        - end
                      properties:
                        start:
                          type: string
                          format: date-time
                          x-go-type: KotDate
                          description: 休憩開始予定
                        end:
                          type: string
                          format: date-time
                          x-go-type: KotDate
                          description: 休憩終了予定
                  holidaysObtained:
                    type: object
                    description: 休暇取得
                    required:
                      - fulltimeHoliday
                      - halfdayHolidays
                      - hourHolidays
                    properties:
                      fulltimeHoliday:
                        type: object
                        required:
                          - code
                          - name
                        properties:
                          code:
                            type: integer
                            description: 休暇区分コード
                          name:
                            type: string
                            description: 休暇区分名
                      halfdayHolidays:
                        type: array
                        items:
                          type: object
                          required:
                            - typeName
                            - code
                            - name
                          properties:
                            typeName:
                              type: string
                              description: 半休種別名
                            code:
                              type: integer
                              description: 休暇区分コード
                            name:
                              type: string
                              description: 休暇区分名
                      hourHolidays:
                        type: array
                        items:
                          type: object
                          required:
                            - start
                            - end
                            - minutes
                            - code
                            - name
                          properties:
                            start:
                              type: string
                              format: date-time
                              x-go-type: KotDate
                              description: 休暇開始予定
                            end:
                              type: string
                              format: date-time
                              x-go-type: KotDate
                              description: 休暇終了予定
                            minutes:
                              type: integer
                              format: int32
                              description: 休暇取得時間
                            code:
                              type: integer
                              description: 休暇区分コード
                            name:
                              type: string
                              description: 休暇区分名
                  workDayTypeName:
                    type: string
                    description: 勤務日種別名
                  overtimeUpperLimit:
                    type: integer
                    format: int32
                    description: 残業上限時間（分）
                  workPlaceDivisionCode:
                    type: string
                    description: 出勤先所属コード
                  workPlaceDivisionName:
                    type: string
                    description: 出勤先所属名
                  substitutionClockInName:
                    type: string
                    description: 振替出勤
                  scheduleTypeName:
                    type: string
                    description: スケジュール種別
              schedulePatternCode:
                type: string
                description: スケジュールパターンコード
              schedulePatternName:
                type: string
                description: スケジュールパターン名
              workFixedStart:
                type: string
                format: date-time
                x-go-type: KotDate
                description: 勤務開始刻限
              workFixedEnd:
                type: string
                format: date-time
                x-go-type: KotDate
                description: 勤務終了刻限
              note:
                type: string
                description: 備考
              flow:
                type: array
                description: 承認フロー
                items:
                  type: object
                  required:
                    - level
                    - administratorKeys
                  properties:
                    level:
                      type: integer
                      description: 承認フローレベル（１～５）
                      enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                    administratorKeys:
                      type: array
                      description: 管理者識別キー（管理者コードが変更されても不変）
                      items:
                        type: string
    RegisterDailyWorkingTimerecord:
      type: object
      required:
        - date
        - employeeKey
        - timeRecord
      properties:
        date:
          type: string
          format: date
          description: 日時
        employeeKey:
          type: string
          description: 従業員識別キー（従業員コードが変更されても不変）
        timeRecord:
          $ref: '#/components/schemas/daily_working_timerecord'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: Credentials or access token for API
security:
  - Bearer: []
tags:
  - name: Token
    externalDocs:
      url: 'https://developer.kingtime.jp/#%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3'
  - name: Company
    externalDocs:
      url: 'https://developer.kingtime.jp/#%E4%BC%81%E6%A5%AD%E6%83%85%E5%A0%B1'
  - name: Administrator
    externalDocs:
      url: 'https://developer.kingtime.jp/#%E7%AE%A1%E7%90%86%E8%80%85'
  - name: Employee
    externalDocs:
      url: 'https://developer.kingtime.jp/#%E5%BE%93%E6%A5%AD%E5%93%A1'
  - name: Attendance
    externalDocs:
      url: 'https://developer.kingtime.jp/#%E5%8B%A4%E6%80%A0'
  - name: Request
    externalDocs:
      url: 'https://developer.kingtime.jp/#%E7%94%B3%E8%AB%8B'
